<!DOCTYPE html>
<html lang="en">
{{>head page="Brand"}}

<body>
    <div class="backtop">
        <a href="#" class="backtop__link js-backtop">
            <span class="icon-arrow-up2"></span>
        </a>
    </div>
    {{>header page="Brand"}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Brand Kami</h1>
        </div>
        <div class="container clearfix panel__overlay">
            <div class="panel__wrapper">
                <div class="panel__title">
                    <h1 class="panel__title__text">Brand Kami</h1>
                </div>
                <!-- s: brand filter -->
                {{>brand_filter}}
                <!-- e: brand filter -->
                <div class="container business__menu">
                    <div class="hexa__brand">
                        <div class="hexa__brand__wrap">
                            <ul class="hexa__brand__menu hexa-align clearfix">
                                <!--media-->
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/kompas.png" alt="" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/kontan.png" alt="" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/kontan-id.png" alt="" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/kontan-tabloid.png" alt="" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/kompas-com.png" alt="" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/donal.png" alt="donal.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/jip.png" alt="jip.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/kompasiana.png" alt="kompasiana.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/kompas-karier.png" alt="" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/kompas-tv.png" alt="" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/ktv.png" alt="" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/press-release.png" alt="" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/bobo.png" alt="bobo.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/mombi.png" alt="mombi.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/idea.png" alt="idea.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/infokomputer.png" alt="infokomputer.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/intisari.png" alt="intisari.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/national-geographic.png" alt="national-geographic.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/sedap-pemuda.png" alt="sedap-pemuda.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/sedap.png" alt="sedap.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/nova.png" alt="nova.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/otomotif.png" alt="otomotif.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/saji.png" alt="saji.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/fotokita.png" alt="fotokita.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/motor-plus.png" alt="motor-plus.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/nakita.png" alt="nakita.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/sajian-sedap.png" alt="sajian-sedap.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/juara.png" alt="juara.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/cewekbanget.png" alt="cewekbanget.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/bolasport.png" alt="bolasport.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/gridoto.png" alt="gridoto.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/nextren.png" alt="nextren.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/bola.png" alt="bola.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/hai.png" alt="hai.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/otomania.png" alt="otomania.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/babel-pos.png" alt="babel-pos.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/grid.png" alt="grid.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/banjarmasin-post.png" alt="banjarmasin-post.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/bolavaganza.png" alt="bolavaganza.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/pos-kupang.png" alt="pos-kupang.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/superball.png" alt="superball.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/serambi-indonesia.png" alt="serambi-indonesia.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/warta-kota.png" alt="warta-kota.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/surya.png" alt="surya.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/jpm.png" alt="jpm.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/tribun.png" alt="tribun.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/grid-factory.png" alt="grid-factory.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/rnp/kpb.jpg" alt="kpb.jpg" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/skg.png" alt="skg.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/motion-radio.png" alt="motion-radio.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/stratx.png" alt="stratx.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/smart-radio.png" alt="smart-radio.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/transito.png" alt="transito.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/sonora-radio.png" alt="sonora-radio.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/media/vcbl.png" alt="vcbl.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <!--education-->
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/edu/diginusa.png" alt="diginusa.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/edu/elti.png" alt="elti.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/edu/gramedia-academy.png" alt="gramedia-academy.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/edu/umn.png" alt="umn.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/edu/robolego.png" alt="robolego.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <!--event-->
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/event/dyandra.png" alt="dyandra.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/event/medialand.png" alt="medialand.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <!--hospitality-->
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/hospitality/kayana.jpg" alt="kayana.jpg" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/hospitality/santika-premiere.jpg" alt="santika-premiere.jpg" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/hospitality/amaris.jpg" alt="amaris.jpg" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/hospitality/samaya.png" alt="samaya.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/hospitality/santika.jpg" alt="santika.jpg" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/hospitality/anvaya.jpg" alt="anvaya.jpg" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <!--manufacture-->
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/manufacture/metaform.png" alt="metaform.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/manufacture/gramedia-printing.jpg" alt="gramedia-printing.jpg" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <!--retail n publishing-->
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/rnp/gramedia.png" alt="gramedia.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/rnp/grasindo.jpg" alt="grasindo.jpg" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/rnp/kpg.png" alt="kpg.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/rnp/mc.jpg" alt="mc.jpg" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/rnp/elex.png" alt="elex.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item top">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/rnp/gpu.png" alt="gpu.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                                <li class="hexa__brand__item">
                                    <a class="hexa__gate__link open-popup" data-popup="kompas">
                                        <svg id="Component_1_1" data-name="Component 1 – 1"
                                            xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                            viewBox="0 0 184.422 160.497">
                                            <path id="Polygon_9" data-name="Polygon 9" class="cls-1" d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                        </svg>

                                        <div class="hexa__brand__logo">
                                            <img data-src="asset/img/rnp/bip.png" alt="bip.png" class="hexa__brand__img lozad">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-bg">
            <div class="my-popup kompas">
                <span class="popup-close icon-close"></span>
                <li class="hexa__brand__content clearfix">
                    <div class="hexa__brand__desc">
                        <div class="hexa__brand__icon">
                            <img src="asset/img/media/kompas.png" alt="asset/img/media/kompas.png">
                        </div>
                        <div class="panel__paragraph panel__text--cstripe text-left">
                            <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                <p class="panel__text">Harian Kompas adalah surat kabar Indonesia
                                    yang
                                    berkantor pusat di Jakarta.
                                    Harian Kompas diterbitkan oleh PT Kompas Media Nusantara yang
                                    merupakan
                                    bagian dari Kelompok Kompas Gramedia (KKG). Harian Kompas terbit
                                    pertama
                                    kali 28 Juni 1965, dan didirikan oleh P.K Ojong dan Jakob
                                    Oetama.
                                </p>
                                <p class="panel__text">Mengusung “Amanat Hati Nurani Rakyat” sebagai
                                    moto, Harian Kompas tumbuh
                                    menjadi surat kabar yang kredibel dan menjadi inspirasi lintas
                                    generasi
                                    bagi Indonesia. Harian Kompas adalah salah satu surat kabar yang
                                    diaudit
                                    oleh Audit Bereau of Circulation(ABC) dan telah memenangkan
                                    beragam
                                    penghargaan
                                    bergengsi dibidang jurnalistik di dalam maupun luar negeri. </p>
                                <p class="panel__text">Seturut dengan perkembangan industri media,
                                    Harian Kompas pun merespon perubahan
                                    pola konsumsi media. Hadir dalam layanan berita digital
                                    berbayar,
                                    Harian
                                    Kompas yang dapat diakses melalui Kompas.id. Inovasi ini
                                    dilakukan
                                    sebagai
                                    jawaban atas tantangan zaman namun dengan tetap menjaga
                                    nilai-nilai
                                    jurnalisme
                                    khas Harian Kompas.
                                </p>
                            </div>
                        </div>
                        <span class="hexa__brand__text">Website: </span><a href="http://kompas.id" target="_blank"
                            class="hexa__brand__url">http://kompas.id</a>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}

     <script>
        $(document).ready(function() {
            var nav = document.getElementById("BrandFilterList");
            nav.style.display = "none";
            $(document).click(function(e) {
                if (!$(e.target).is('#BrandFilterList, #BrandFilterList *')) {
                    $("#BrandFilterList").hide();
                }
            });
            $('#filterInput').click( function(e) {
                e.stopPropagation(); 

            });
            
            //s: enable this script to hide the list before action
//            $('#filterInput').keyup(function() {
//                if ($(this).val() == '') { // check if value changed
//                    $("#BrandFilterList").css('max-height', '0px');
//                } else {
//                     $("#BrandFilterList").css('max-height', '455px');
//                }
//            });
        });

        function showNav() {
            var nav = document.getElementById("BrandFilterList");
            nav.style.display = "";
            nav.style.maxHeight = "455px"; //set to "0px" to hide the list before action
        }
        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("filterInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("BrandFilterList");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
</body>

</html>