<!DOCTYPE html>
<html lang="en">
{{>head page="Bisnis"}}

<body>

    {{>header_white page="Bisnis"}}
    <!-- s:panel -->
    <div id="panel" class="csr__bg csr__bg--100vh">
        <div class="panel__ornament">
            <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--left">
            <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--right">
        </div>
        <div class="container business__front">
            <div class="panel__title panel__title--right">
                <h1 class="panel__title__text">Bisnis KG</h1>
            </div>
            <div class="business__wrapper">
                <div class="business__gate">
                <div class="business__gate__item">
                    <div class="business__gate__hexa">
                        <a href="media.html" class="business__gate__link">
                            <div class="business__icon">
                                <img class="business__ico" src="asset/img/business/media-icon.png" alt="">
                            </div>
                            {{!-- <h2 class="business__name">Media</h2> --}}
                        </a>
                    </div>
                </div>
                <div class="business__gate__item">
                    <div class="business__gate__hexa">
                        <a href="retail-publishing.html" class="business__gate__link">
                            <div class="business__icon">
                                <img class="business__ico" src="asset/img/business/rnp-icon.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="business__gate__item">
                    <div class="business__gate__hexa">
                        <a href="hospitality.html" class="business__gate__link">
                            <div class="business__icon">
                                <img class="business__ico" src="asset/img/business/hospitality-icon.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="business__gate">    
                <div class="business__gate__item">
                    <div class="business__gate__hexa">
                        <a href="manufacture.html" class="business__gate__link">
                            <div class="business__icon">
                                <img class="business__ico" src="asset/img/business/manu-icon.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="business__gate__item">
                    <div class="business__gate__hexa">
                        <a href="education.html" class="business__gate__link">
                            <div class="business__icon">
                                <img class="business__ico" src="asset/img/business/edu-icon.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="business__gate__item">
                    <div class="business__gate__hexa">
                        <a href="event-venue.html" class="business__gate__link">
                            <div class="business__icon">
                                <img class="business__ico" src="asset/img/business/event-icon.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="business__gate__item">
                    <div class="business__gate__hexa">
                        <a href="property-infastructure.html" class="business__gate__link">
                            <div class="business__icon">
                                <img class="business__ico" src="asset/img/business/property-icon.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>