<!DOCTYPE html>
<html lang="en">
{{>head page="Karir"}}

<body>

    {{>header page="Karir"}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Grow With KG</h1>
        </div>
        <div class="container panel__overlay">
            <div class="panel__title">
                <h1 class="panel__title__text">Grow With KG</h1>
            </div>
        </div>
        <div class="container clearfix panel__overlay">
            <div class="panel__side career__box">
                <div class="career__content col-6">
                    <h1 class="career__title">Apakah kamu yang kami cari?</h1>
                    <p class="career__desc">Lebih dari 22.000+ putra putri terbaik Indonesia telah bergabung dalam keluarga besar Kompas Gramedia.</p>
                    <div class="career__btn__wrapper">
                        <div class="career__btn btn--blue" id="career-join">
                            <a href="http://workwithkg.com" target="_blank" class="career__link button"
                                id="contact-submit">Bergabunglah Bersama Kami</a>
                        </div>
                    </div>
                </div>
                <div class="career__img col-4">
                    <img src="asset/img/work-with-kg.png" alt="work-with-kg.png">
                </div>
            </div>
        </div>
        <!-- e:panel -->
        {{>footer}} {{>script}}
</body>

</html>