<!DOCTYPE html>
<html lang="en">
{{>head page="Komunitas Karyawan"}}

<body>

    {{>header page="Karir"}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Work With KG</h1>
        </div>
        <div class="container community panel__overlay">
            <div class="panel__title">
                <h1 class="panel__title__text">Komunitas Karyawan</h1>
            </div>
            <!-- s:community-->
            <div class="community__wrapper communityTabs">
                <div class="tabs__container display-desktop">
                    <ul class="tabs">
                        <!--s:csr tabs filter-->
                        <li class="tabs__list js-tabs-chooser" rel="hobi-profesi">
                            <h3 class="tabs__list__title communityNav__title">Kg
                                <br>Hobi & Profesi</h3>
                        </li>
                        <li class="tabs__list js-tabs-chooser" rel="olahraga">
                            <h3 class="tabs__list__title communityNav__title">Kg
                                <br>Olahraga</h3>
                        </li>
                        <li class="tabs__list js-tabs-chooser" rel="paguyuban-seni">
                            <h3 class="tabs__list__title communityNav__title">Kg
                                <br>Paguyuban Seni</h3>
                        </li>
                    </ul>
                </div>

                <div class="tabs__content">
                    <div class="tabs__list js-acc-chooser display-mobile" rel="hobi-profesi">
                        <a href="#hobi-profesi">
                            <h3 class="tabs__list__title communityNav__title">Kg
                                <br>Hobi & <br> Profesi</h3>
                        </a>
                    </div>
                    <li id="hobi-profesi">
                        <div class="content__wrapper">
                            <div class="tabs__container">
                                <div class="communityTabs__item panel__side">
                                    <div class="communityTabs__img col-4" data-aos="fade-left">
                                        <img src="asset/img/community/sekar-media.png" alt="sekar-media.png">
                                    </div>
                                    <div class="communityTabs__box col-5" data-aos="fade-right">
                                        <h3 class="communityTabs__title">
                                            1. Sekar Media
                                        </h3>
                                        <p class="communityTabs__text">Paguyuban sekretaris dari semua unit di KG ini
                                            dimaksudkan untuk meningkatkan
                                            pengetahuan
                                            dan kompetensi sekaligus untuk menjaga silaturami dan berbagi informasi.
                                            Kegiatannya
                                            dilakukan dalam berbagai bentuk, seperti studi banding, pembekalan, forum,
                                            dan
                                            berbagai
                                            kegiatan lain.</p>
                                    </div>
                                </div>
                                <div class="communityTabs__item panel__side panel__side--right">
                                    <div class="communityTabs__img col-4" data-aos="fade-left">
                                        <img src="asset/img/community/mediart.png" alt="mediart.png">
                                    </div>
                                    <div class="communityTabs__box col-5" data-aos="fade-right">
                                        <h3 class="communityTabs__title">
                                            2. MediArt
                                        </h3>
                                        <p class="communityTabs__text">Komunitas MediArt merupakan wadah berkumpulnya
                                            para
                                            desainer grafis yang ada di
                                            KG. Terbentuk
                                            sejak 31 Mei 1992, komunitas ini menjadi sarana aktualisasi diri pada
                                            anggotanya
                                            dalam berbagai bentuk karyanya. Program kerja MediArt meliputi pendidikan
                                            kreativitas
                                            berupa pelatihan grafis, pelatihan software, diskusi, lomba, pameran, dan
                                            masih
                                            banyak
                                            lagi. Anda bukan karyawan artistik tapi ingin gabung? Tenang saja, MediArt
                                            terbuka
                                            untuk semua karyawan yang mempunyai minat dan bakat di bidang seni grafis
                                            kok!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="tabs__list js-acc-chooser display-mobile" rel="olahraga">
                        <a href="#olahraga">
                            <h3 class="tabs__list__title communityNav__title">Kg
                                <br>Olahraga</h3>
                        </a>
                    </div>
                    <li id="olahraga">
                        <div class="content__wrapper">
                            <div class="tabs__container">
                                <div class="communityTabs__item panel__side">
                                    <div class="communityTabs__img col-4" data-aos="fade-left">
                                        <img src="asset/img/community/basket.png" alt="basket.png">
                                    </div>
                                    <div class="communityTabs__box col-6" data-aos="fade-right">
                                        <h3 class="communityTabs__title">
                                            1. PORKA KG (Persatuan Olahraga Karyawan Kompas Gramedia)
                                        </h3>
                                        <p class="communityTabs__text">
                                            <b>PORKA KG</b> merupakan wadah bagi karyawan untuk menyalurkan hobi dalam
                                            bidang olah
                                            raga. Bermula dari hobi,
                                            <b>PORKA KG</b> sudah menghasilkan banyak karyawan berprestasi di bidang
                                            olah
                                            raga,
                                            bahkan ada juga yang menjadi atlet nasional. </p>
                                    </div>
                                    <div class="communityTabs__img col-4 display-mobile" data-aos="fade-right">
                                        <img src="asset/img/community/futsal.png" alt="futsal.png">
                                    </div>
                                    <div class="communityTabs__box col-6" data-aos="fade-left">
                                        <p class="communityTabs__text text-right">Komunitas ini juga sering
                                            mengadakan
                                            pertandingan persahabatan dengan berbagai perusahaan atau mengikuti turnamen
                                            antar
                                            media. Demi mendukung kegiatan olah raga karyawan, Kompas Gramedia juga
                                            mempunyai
                                            arena olah raga yang berlokasi di kantor Palmerah Selatan. </p>
                                    </div>
                                    <div class="communityTabs__img col-4 display-desktop" data-aos="fade-right">
                                        <img src="asset/img/community/futsal.png" alt="futsal.png">
                                    </div>
                                    <div class="communityTabs__img col-4" data-aos="fade-left">
                                        <img src="asset/img/community/lari.png" alt="lari.png">
                                    </div>
                                    <div class="communityTabs__box col-6">
                                        <p class="communityTabs__text col-5" data-aos="fade-right">
                                            Hingga
                                            kini
                                            sudah ada 19 cabang olahraga yang terdaftar di PORKA KG, yaitu:</p>
                                        <ol class="col-5" data-aos="fade-right">
                                            <li>Tenis</li>
                                            <li>Futsal </li>
                                            <li>Voli</li>
                                            <li>Basket</li>
                                            <li>Senam</li>
                                            <li>Zumba</li>
                                            <li>Tenis Meja</li>
                                        </ol>
                                    </div>
                                    <div class="communityTabs__img col-4 display-mobile" data-aos="fade-right">
                                        <img src="asset/img/community/kg-fit.png" alt="kg-fit.png">
                                    </div>
                                    <div class="communityTabs__box col-6" data-aos="fade-left">
                                        <ol class="col-5">
                                            <li>Bulutangkis</li>
                                            <li>KG Fit Camp</li>
                                            <li>Yoga</li>
                                            <li>KG Cyclist</li>
                                            <li>Karate INKAI</li>
                                            <li>MBS Bangau Putih</li>
                                            <li>Kompas Gramedia Adventure (KGA)</li>
                                        </ol>
                                        <ol class="col-5">
                                            <li>KG Pelarian</li>
                                            <li>Mancing (KOMA; Komunitas Mancing Kompas Gramedia)</li>
                                            <li>KGPC (Kompas Gramedia Petanque Club)</li>
                                            <li>Sepak Bola</li>
                                            <li>Pencak Silat (PSHT)</li>
                                        </ol>
                                    </div>
                                    <div class="communityTabs__img col-4 display-desktop" data-aos="fade-right">
                                        <img src="asset/img/community/kg-fit.png" alt="kg-fit.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="tabs__list js-acc-chooser display-mobile" rel="paguyuban-seni">
                        <a href="#paguyuban-seni">
                            <h3 class="tabs__list__title communityNav__title">Kg
                                <br>Paguyuban <br> Seni</h3>
                        </a>
                    </div>
                    <li id="paguyuban-seni">
                        <div class="content__wrapper">
                            <div class="tabs__container">
                                <div class="communityTabs__item panel__side">
                                    <div class="communityTabs__img col-4" data-aos="fade-left">
                                        <img src="asset/img/community/paduan-suara.png" alt="paduan-suara.png">
                                    </div>
                                    <div class="communityTabs__box col-5" data-aos="fade-right">
                                        <h3 class="communityTabs__title">1. Paduan Suara “Shanti Swara” Kompas Gramedia
                                        </h3>
                                        <p class="communityTabs__text">Komunitas paduan suara KG, yang tenar dikenal
                                            dengan
                                            nama Shanti Swara.
                                            Komunitas ini cukup rutin mengadakan latihan dan menjadi langganan muncul di
                                            acara-acara unit maupun korporat. Selain itu, komunitas paduan suara juga
                                            berkembang di unit-unit KG, seperti Paduan Suara Kompas, Paduan Suara TB
                                            Gramedia, Paduan Suara Swarna Gita (GoM), dll.</p>
                                    </div>
                                </div>
                                <div class="communityTabs__item panel__side panel__side--right">
                                    <div class="communityTabs__img col-4" data-aos="fade-left">
                                        <img src="asset/img/community/band.png" alt="band.png">
                                    </div>
                                    <div class="communityTabs__box col-5" data-aos="fade-right">
                                        <h3 class="communityTabs__title">2. Band</h3>
                                        <p class="communityTabs__text">Ternyata banyak juga karyawan KG yang mempunyai
                                            bakat
                                            musik dan akhirnya
                                            membentuk kelompok-kelompok
                                            band dengan sesama karyawan lainnya. Tidak perlu repot-repot menyewa studio
                                            untuk
                                            berlatih karena KG mempunyai studio musik yang terletak di Jl. Palmerah
                                            Selatan
                                            no.
                                            17 Jakarta Selatan. Karyawan yang ingin berlatih dapat mendaftarkan band-nya
                                            terlebih
                                            dahulu kepada pengurus band KG. Band karyawan KG juga sudah sering tampil di
                                            acara
                                            internal maupun di luar perusahaan. </p>
                                    </div>
                                </div>
                                <div class="communityTabs__item panel__side">
                                    <div class="communityTabs__img col-4" data-aos="fade-left">
                                        <img src="asset/img/community/seni.png" alt="seni.png">
                                    </div>
                                    <div class="communityTabs__box col-5" data-aos="fade-right">
                                        <h3 class="communityTabs__title">3. Seni Tari Tradisional</h3>
                                        <p class="communityTabs__text">Karyawan Kompas Gramedia melalui Bentara Budaya
                                            Jakarta (BBJ) turut serta
                                            melestarikan
                                            kesenian tradisional terutama seni tari tradisional. Karyawan yang mempunyai
                                            bakat
                                            menari biasa berkumpul dan berlatih bersama di BBJ setiap hari Senin Pkl.
                                            17.30
                                            WIB.
                                            Ada juga Bentara Muda, sebuah komunitas anak muda pecinta seni budaya yang
                                            dikelola
                                            langsung oleh BBJ.</p>
                                    </div>
                                </div>
                                <div class="communityTabs__item panel__side panel__side--right">
                                    <div class="communityTabs__img col-4" data-aos="fade-left">
                                        <img src="asset/img/community/karawitan.png" alt="karawitan.png">
                                    </div>
                                    <div class="communityTabs__box col-5" data-aos="fade-right">
                                        <h3 class="communityTabs__title">4. Karawitan & Pedalangan</h3>
                                        <p class="communityTabs__text">Menjaga kesenian tradisional ditengah-tengah
                                            modernisasi jaman bukanlah hal yang
                                            mudah.
                                            Namun KG turut serta melestarikan kesenian tradisional, salah satunya
                                            kesenian
                                            karawitan
                                            dan pedalangan (wayang kulit). Bertempat di Rumah Kudus, Bentara Budaya
                                            Jakarta,
                                            karyawan yang ingin berlatih dapat hadir di BBJ setiap hari Jumat Pukul
                                            18.00
                                            WIB.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
            <!-- e:community-->
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script page="community"}}
</body>

</html>