<!DOCTYPE html>
<html lang="en">
{{>head page="Kontribusi Sosial"}}

<body>

    {{>header page="Kontribusi Sosial"}}
    <!-- s:panel -->
   <div id="panel" class="panel pb200">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Kontribusi</h1>
        </div>
        <div class="container clearfix panel__overlay">
            <div class="panel__title">
                <h1 class="panel__title__text">Dana Kemanusiaan</h1>
            </div>
        <!-- s:csr-->
        <div class="csr__wrapper csrDk">
            <div class="container panel__side">
                <div class="panel__img col-4">
                    <img src="asset/img/danakemanusiaan/dkk.png" alt="dkk.png">
                </div>
                <div class="panel__paragraph col-6">
                    <div class="panel__text__wrapper text-left">
                        <img src="asset/img/danakemanusiaan/logo-dkk.png" alt="logo-dkk.png">
                        <p class="panel__text">Kepedulian Harian Kompas terhadap manusia dan nilai-nilai kemanusiaan
                            tidak hanya berhenti pada pemberitaan. Kompas juga peduli terhadap penderitaan masyarakat
                            dengan membentuk lembaga nirlaba yang diberi nama Dana Kemanusiaan Kompas (DKK). </p>
                        <p class="panel__text">
                            Lembaga filantropi yang kini berbentuk yayasan itu dirintis mulai tahun 1982. DKK menerima
                            bantuan pembaca Harian Kompas dan masyarakat untuk disalurkan kepada masyarakat yang sangat
                            membutuhkan.</p>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <!-- e:csr-->
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>