<!DOCTYPE html>
<html lang="en">
{{>head page="Kontribusi Sosial"}}

<body>

    {{>header page="Kontribusi Sosial"}}
    <!-- s:panel -->
    <div id="panel" class="panel pb200">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Kontribusi</h1>
        </div>
        <div class="container clearfix panel__overlay csr">
            <div class="panel__title">
                <h1 class="panel__title__text">Kontribusi Sosial</h1>
            </div>
        </div>
        <!-- s:csr-->
        <div class="csr__wrapper">
            <div class="csr__logo">
                <img src="asset/img/csr/csr-logo.png" alt="csr-logo.png">
            </div>
            <h2 class="csr__tagline">Menciptakan keselarasan hidup melalui pembangunan berkelanjutan <br>di tengah
                masyarakat</h2>
            <!--s:csr tabs-->
            <div class="csr__tabs">
                <section class="tabs__wrapper">
                    <div class="tabs__container">
                        <ul class="tabs display-desktop">
                            <!--s:csr tabs filter-->
                            <li class="tabs__list js-tabs-chooser" rel="inspirasi-pendidikan">
                                <a href="#inspirasi-pendidikan">
                                    <div class="tabs__list__title">
                                        <img src="asset/img/csr/csr-nav-1.png" alt="csr-nav-1.png">
                                    </div>
                                </a>
                            </li>
                            <li class="tabs__list js-tabs-chooser" rel="inspirasi-budaya">
                                <a href="#inspirasi-budaya">
                                    <div class="tabs__list__title">
                                        <img src="asset/img/csr/csr-nav-2.png" alt="csr-nav-2.png">
                                    </div>
                                </a>
                            </li>
                            <li class="tabs__list js-tabs-chooser" rel="inspirasi-lingkungan">
                                <a href="#inspirasi-lingkungan">
                                    <div class="tabs__list__title">
                                        <img src="asset/img/csr/csr-nav-3.png" alt="csr-nav-3.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--e:csr tabs filter-->
                    <!--s:csr tabs content-->
                    <ul class="tabs__content">
                        <div class="tabs__list tabs__list__acc js-acc-chooser display-mobile" rel="inspirasi-pendidikan">
                            <a href="#inspirasi-pendidikan">
                                <div class="tabs__list__title">
                                    <img src="asset/img/csr/csr-nav-1.png" alt="csr-nav-1.png">
                                </div>
                            </a>
                        </div>
                        <li id="inspirasi-pendidikan">
                            <div class="content__wrapper">
                                <div class="tabs__container tabs__box">
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-4" data-aos="fade-left">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/thumb-akubaca.png" alt="thumb-akubaca.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-6" data-aos="fade-right">
                                            <img src="asset/img/csr/aku-baca-logo.png" alt="aku-baca-logo.png">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">Kompas Gramedia menggulirkan #AkuBaca sebagai
                                                        sebuah gerakan berkesinambungan
                                                        yang berupaya memajukan literasi di Indonesia, khususnya dalam
                                                        penumbuhan
                                                        minat baca masyarakat. Selain mengajak tiap individu untuk
                                                        menyadari
                                                        pentingnya membaca sebagai kebutuhan dasar manusia, #AkuBaca
                                                        juga
                                                        melakukan kampanye literasi untuk mendorong peran orangtua,
                                                        lingkungan
                                                        dan sekolah agar semakin optimal dalam menciptakan atmoster
                                                        pendidikan
                                                        yang kondusif bagi tumbuhnya generasi baca.</p>
                                                    <p class="panel__text">Melalui fitur Buku Bergerak, gerakan #AkuBaca
                                                        juga turut berkontribusi
                                                        meningkatkan akses masyarakat terhadap bacaan, dimana Tim
                                                        #AkuBaca
                                                        melakukan penggalangan buku-buku donasi dari publik melalui "ATM
                                                        Setor Buku", untuk dikirimkan ke berbagai Taman Bacaan
                                                        Masyarakat
                                                        (TBM) di berbagai daerah seantero Indonesia.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs__inline panel__side--right">
                                        <div class="tabs__inline__item col-4" data-aos="fade-left">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/thumb-kgm.png" alt="thumb-kgm.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-6" data-aos="fade-right">
                                            <img src="asset/img/csr/kgm-logo.png" alt="kgm-logo.png">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">Salah satu terapan Corporate Social
                                                        Responsibility (CSR) Kompas Gramedia
                                                        di bidang pendidikan (Inspirasi Pendidikan) teraplikasi dalam
                                                        program
                                                        KGM (Kompas Gramedia Muda) Musik. Ini merupakan program
                                                        pelatihan
                                                        musik yang diadakan Kompas Gramedia bekerjasama dengan musisi
                                                        profesional
                                                        yang diperuntukkan bagi anak-anak warga sekitar wilayah Palmerah
                                                        Selatan.
                                                    </p>
                                                    <p class="panel__text">Dengan adanya partisipasi anak-anak dalam
                                                        kegiatan pembelajaran non akademik,
                                                        dalam hal ini musik, hal ini diharapkan dapat mengoptimalkan
                                                        tumbuh
                                                        kembang anak-anak menjadi lebih aktif, cerdas dan kreatif.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-4" data-aos="fade-left">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/thumb-kg.png" alt="thumb-kg.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-6" data-aos="fade-right">
                                            <img src="asset/img/csr/english-club-logo.png" alt="english-club-logo.png">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">KG English Club merupakan sebuah program
                                                        pembelajaran Bahasa Inggris
                                                        yang diadakan secara gratis oleh Kompas Gramedia untuk anak-anak
                                                        warga sekitar perkantoran pusat di wilayah Palmerah Selatan.</p>
                                                    <p class="panel__text"> Implementasi program ini bersinergi dengan
                                                        ELTI Gramedia dan para relawan
                                                        dari karyawan Kompas Gramedia yang tergabung dalam KG
                                                        Volunteers.
                                                        Saat ini tak kurang dari 90 anak-anak warga sekitar telah
                                                        menjadi
                                                        peserta KG English Club dan mengikuti kegiatan rutin KG English
                                                        Club
                                                        yang dilakukan secara asyik dan menyenangkan.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <div class="tabs__list tabs__list__acc js-acc-chooser display-mobile" rel="inspirasi-budaya">
                            <a href="#inspirasi-budaya">
                                <div class="tabs__list__title">
                                    <img src="asset/img/csr/csr-nav-2.png" alt="csr-nav-2.png">
                                </div>
                            </a>
                        </div>
                        <li id="inspirasi-budaya" class="content__wrapper">
                            <div class="content__wrapper">
                                <div class="tabs__container tabs__box">
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-4" data-aos="fade-left">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/thumb-bbj.png" alt="thumb-bbj.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-6" data-aos="fade-right">
                                            <img src="asset/img/csr/bbj-logo.png" alt="bbj-logo.png">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">Berdiri pada tanggal 26 September 1982 di
                                                        Yogyakarta, yang saat ini juga
                                                        berdiri di Jakarta, Solo, dan Bali. Menampung dan mewakili
                                                        wahana
                                                        budaya bangsa dari berbagai kalangan, latar belakang, dan
                                                        cakrawala.
                                                        Menampilkan bentuk dan karya cipta budaya yang mungkin pernah
                                                        mentradisi,
                                                        atau kesenian massa yang pernah populer dan merakyat, termasuk
                                                        karya-karya
                                                        baru yang kurang mendapat tempat. Di tahun 2016, ada 470 event
                                                        yang
                                                        digelar di 4 lokasi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <div class="tabs__list tabs__list__acc js-acc-chooser display-mobile" rel="inspirasi-lingkungan">
                            <a href="#inspirasi-lingkungan">
                                <div class="tabs__list__title">
                                    <img src="asset/img/csr/csr-nav-3.png" alt="csr-nav-3.png">
                                </div>
                            </a>
                        </div>
                        <li id="inspirasi-lingkungan" class="content__wrapper">
                            <div class="content__wrapper">
                                <div class="tabs__container tabs__box">
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-4" data-aos="fade-left">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/thumb-bank-sampah.png"
                                                    alt="thumb-bank-sampah.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-6" data-aos="fade-right">
                                            <div class="tabs__img">
                                            <img src="asset/img/csr/kampung-koran_28o6q.png"
                                                alt="kampung-koran_28o6q.png">
                                            </div>
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">Kampung Koran lahir sebagai salah satu
                                                        terapan tanggung jawab sosial
                                                        perusahaan (Corporate Social Responsibility) Kompas Gramedia
                                                        yang
                                                        bermitra dengan komunitas Salam Rancage dan para warga yang
                                                        bermukim
                                                        di sekitar perkantoran pusat Kompas Gramedia di wilayah Palmerah
                                                        Selatan, Jakarta. Ketiganya bergerak bersama dengan tujuan besar
                                                        untuk meraih tiga keselarasan: finansial (financial), sosial
                                                        (social)
                                                        dan lingkungan (environment).</p>
                                                    <p class="panel__text">Warga Kampung Koran merintis berbagai
                                                        perubahan positif di sekitarnya
                                                        melalui medium kerajinan anyaman koran. Dimulai dari aktivitas
                                                        menganyam
                                                        kertas koran bekas menjadi kerajinan, warga mendapat stimulasi
                                                        untuk
                                                        aktif berkontribusi terhadap lingkungannya. Mulai dari
                                                        lingkungan
                                                        keluarga, lingkungan kelompok hingga meluas ke lingkungan
                                                        kampungnya.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs__inline panel__side--right">
                                        <div class="tabs__inline__item col-4" data-aos="fade-left">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/thumb-kk.png" alt="thumb-kk.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-6" data-aos="fade-right">
                                            <img src="asset/img/csr/bank-sampah_tl56k.png" alt="bank-sampah_tl56k.png">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">Sebagai pengembangan dari Kampung Koran,
                                                        Kompas Gramedia bersama Salam
                                                        Rancage dan masyarakat juga mendirikan 3 Bank Sampah yang
                                                        berlokasi
                                                        di 3 kampung sekitar. Kehadiran Bank Sampah ini memberikan
                                                        manfaat
                                                        kepada warga masyarakat sekitar yakni manfaat ekonomi berupa
                                                        tabungan
                                                        nasabah, peningkatan modal sosial dalam bentuk kerjasama dan
                                                        sosialisasi
                                                        antar warga, serta perbaikan dan pelestarian lingkungan kampung.
                                                    </p>
                                                    <p class="panel__text">Saat ini tak kurang dari 200 warga telah
                                                        menjadi nasabah Bank Sampah
                                                        Kampung Koran. Kontribusi mereka dalam pengurangan (reduce)
                                                        sampah
                                                        yang dibuang minimal sebanyak 1 ton setiap bulannya.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--e:csr tabs content-->
                </section>
            </div>
            <!--s:csr tabs-->
        </div>
        <!-- e:csr-->
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script page="csr"}}
</body>

</html>