<!DOCTYPE html>
<html lang="en">
{{>head page="Bisnis"}}

<body>

    {{>header page="Bisnis"}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Bisnis KG</h1>
        </div>
        <div class="container clearfix business__detail panel__overlay hexa-align">
            <div class="panel__content">
                <div class="panel__title">
                    <h1 class="panel__title__text">Education</h1>
                </div>
                <div class="panel__paragraph">
                    <div class="panel__board">
                        <p class="panel__text">Turut mencerahkan Indonesia melalui <b>3</b> lembaga pendidikan dan
                            <b>1</b> universitas</p>
                    </div>
                </div>
            </div>
            <div class="container business__menu">
                <div class="hexa__gate">
                    <div class="hexa__gate__wrap">
                        <ul class="hexa__gate__menu hexa-align clearfix" data-type="tabs">
                            <li class="hexa__gate__item">
                                <a href="#diginusa" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/edu/diginusa.png" alt="diginusa.png" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#elti" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img src="asset/img/edu/elti.png" alt="elti.png" class="hexa__gate__img">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#gramedia-academy" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/edu/gramedia-academy.png" alt="gramedia-academy.png" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#umn" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img src="asset/img/edu/umn.png" alt="umn.png" class="hexa__gate__img">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#robolego" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/edu/robolego.png" alt="robolego.png" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="hexa__gate__contents clearfix" id="tabs-content">
                            <li class="hexa__gate__content clearfix" id="diginusa">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png"
                                            alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari
                                                BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi
                                                saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan
                                                ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang
                                                pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani
                                                sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang,
                                                Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado,
                                                Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi
                                                siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan
                                                sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan
                                                menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika,
                                                Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital
                                                Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa
                                                Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar
                                                ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi
                                                internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk
                                                meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media
                                                teknologi untuk proses pembelajaran. Diginusa membuat proses
                                                belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank"
                                        class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="elti">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png"
                                            alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari
                                                BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi
                                                saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan
                                                ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang
                                                pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani
                                                sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang,
                                                Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado,
                                                Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi
                                                siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan
                                                sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan
                                                menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika,
                                                Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital
                                                Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa
                                                Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar
                                                ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi
                                                internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk
                                                meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media
                                                teknologi untuk proses pembelajaran. Diginusa membuat proses
                                                belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank"
                                        class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="gramedia-academy">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png"
                                            alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari
                                                BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi
                                                saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan
                                                ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang
                                                pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani
                                                sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang,
                                                Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado,
                                                Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi
                                                siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan
                                                sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan
                                                menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika,
                                                Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital
                                                Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa
                                                Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar
                                                ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi
                                                internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk
                                                meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media
                                                teknologi untuk proses pembelajaran. Diginusa membuat proses
                                                belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank"
                                        class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="umn">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png"
                                            alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari
                                                BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi
                                                saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan
                                                ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang
                                                pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani
                                                sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang,
                                                Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado,
                                                Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi
                                                siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan
                                                sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan
                                                menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika,
                                                Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital
                                                Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa
                                                Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar
                                                ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi
                                                internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk
                                                meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media
                                                teknologi untuk proses pembelajaran. Diginusa membuat proses
                                                belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank"
                                        class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="robolego">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png"
                                            alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari
                                                BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi
                                                saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan
                                                ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang
                                                pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani
                                                sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang,
                                                Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado,
                                                Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi
                                                siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan
                                                sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan
                                                menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika,
                                                Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital
                                                Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa
                                                Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar
                                                ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi
                                                internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk
                                                meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media
                                                teknologi untuk proses pembelajaran. Diginusa membuat proses
                                                belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank"
                                        class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>