<!DOCTYPE html>
<html lang="en">
{{>head page="Bisnis"}}

<body>

    {{>header page="Bisnis"}}
    <!-- s:panel -->

    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Bisnis KG</h1>
        </div>
        <div class="container clearfix business__detail panel__overlay hexa-align">
            <div class="panel__content">
                <div class="panel__title">
                    <h1 class="panel__title__text">Event & Venue</h1>
                </div>
                <div class="panel__paragraph">
                    <div class="panel__board">
                        <p class="panel__text">Meramaikan industri Meeting Incentive Converence Exhibition (MICE)
                            melalui jasa profesional penyelenggara eksibisi acara dan manajemen <em>venue</em> dengan
                            reputasi terdepan</p>
                    </div>
                </div>
            </div>
            <div class="container business__menu">
                <div class="business__tabs hexa__gate">
                    <div class="hexa__gate__wrap">
                        <ul class="hexa__gate__menu hexa-align clearfix" data-type="tabs">
                            <li class="hexa__gate__item">
                                <a href="#dyandra" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/event/dyandra.png" alt="dyandra.png" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#medialand" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/event/medialand.png" alt="medialand.png" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="hexa__gate__contents clearfix" id="tabs-content">
                            <li class="hexa__gate__content clearfix" id="dyandra">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/event/dyandra.png"
                                            alt="asset/img/event/dyandra.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Dyandra Promosindo merupakan Proffesional Exhibition
                                                Organizer (PEO) yang berdiri sejak tahun 1994 dan merupakan anak
                                                perusahaan dari PT Dyandra Media International, Tbk. Dalam kurun waktu
                                                tersebut, Dyandra Promosindo berhasil mencetak rekam jejak pameran yang
                                                mengesankan di seluruh Indonesia. Dyandra Promosindo telah menggelar
                                                lebih dari 900 pameran di Jakarta, Surabaya, Yogyakarta, Bali, Makassar,
                                                Medan dan berbagai kota besar lain di Indonesia. Dengan lebih dari 1.000
                                                peserta pameran setiap tahun, termasuk peserta dari luar negeri, Dyandra
                                                telah membuktikan diri sebagai rekan bisnis terpercaya sambil terus
                                                meningkatkan diri menuju budaya pameran yang lebih baik di Indonesia.
                                                Berbagai pameran yang telah digelar antara lain pameran B2B, pameran
                                                B2C, konser musik, konferensi dan summit.</p>
                                            <p class="panel__text">Dyandra Promosindo adalah perusahaan pameran pertama
                                                di Indonesia yang memiliki sertifikasi ISO 9001:2008 untuk sistem
                                                kualitas manajemen. Beberapa pameran yang akan dihadirkan di Indonesia
                                                antara lain: Indonesia International Motor Show, Indonesia International
                                                Furniture Expo, Indonesian Petroleum Association Convex, Indonesia
                                                E-Commerce Summit & Expo, International Franchise, License and Business
                                                Concept Expo & Conference, Garuda Indonesia Travel Fair, Kompas Travel
                                                Fair, Synchronize Festival dan lain-lain.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.dyandramedia.com/" target="_blank"
                                        class="hexa__gate__url">dyandramedia.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="medialand">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/event/dyandra.png"
                                            alt="asset/img/event/dyandra.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Dyandra Promosindo merupakan Proffesional Exhibition
                                                Organizer (PEO) yang berdiri sejak tahun 1994 dan merupakan anak
                                                perusahaan dari PT Dyandra Media International, Tbk. Dalam kurun waktu
                                                tersebut, Dyandra Promosindo berhasil mencetak rekam jejak pameran yang
                                                mengesankan di seluruh Indonesia. Dyandra Promosindo telah menggelar
                                                lebih dari 900 pameran di Jakarta, Surabaya, Yogyakarta, Bali, Makassar,
                                                Medan dan berbagai kota besar lain di Indonesia. Dengan lebih dari 1.000
                                                peserta pameran setiap tahun, termasuk peserta dari luar negeri, Dyandra
                                                telah membuktikan diri sebagai rekan bisnis terpercaya sambil terus
                                                meningkatkan diri menuju budaya pameran yang lebih baik di Indonesia.
                                                Berbagai pameran yang telah digelar antara lain pameran B2B, pameran
                                                B2C, konser musik, konferensi dan summit.</p>
                                            <p class="panel__text">Dyandra Promosindo adalah perusahaan pameran pertama
                                                di Indonesia yang memiliki sertifikasi ISO 9001:2008 untuk sistem
                                                kualitas manajemen. Beberapa pameran yang akan dihadirkan di Indonesia
                                                antara lain: Indonesia International Motor Show, Indonesia International
                                                Furniture Expo, Indonesian Petroleum Association Convex, Indonesia
                                                E-Commerce Summit & Expo, International Franchise, License and Business
                                                Concept Expo & Conference, Garuda Indonesia Travel Fair, Kompas Travel
                                                Fair, Synchronize Festival dan lain-lain.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.dyandramedia.com/" target="_blank"
                                        class="hexa__gate__url">dyandramedia.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>