<!DOCTYPE html>
<html lang="en">
{{>head page="Bisnis"}}

<body>

    {{>header page="Bisnis"}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Bisnis KG</h1>
        </div>
        <div class="container clearfix business__detail panel__overlay">
            <div class="panel__content">
                <div class="panel__title">
                    <h1 class="panel__title__text">Hospitality</h1>
                </div>
                <div class="panel__paragraph">
                    <div class="panel__board">
                        <p class="panel__text">Sentuhan keramahan Indonesia persembahan lebih dari <b>100</b> jaringan
                            hotel di seluruh Indonesia & Singapura.</p>
                    </div>
                </div>
            </div>
            <div class="container business__menu">
                <div class="hexa__gate">
                    <div class="hexa__gate__wrap">
                        <ul class="hexa__gate__menu hexa-align clearfix" data-type="tabs">
                            <li class="hexa__gate__item">
                                <a href="#santika-resorts" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/hospitality/santika-resorts.jpg" alt="santika-resorts.jpg" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#samaya" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/hospitality/samaya.png" alt="samaya.png" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#kayana" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/hospitality/kayana.jpg" alt="kayana.jpg" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#anvaya" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/hospitality/anvaya.jpg" alt="anvaya.jpg" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#santika-premiere" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/hospitality/santika-premiere.jpg" alt="santika-premiere.jpg" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item zonk">
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#santika" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/hospitality/santika.jpg" alt="santika.jpg" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item zonk">
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#amaris" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/hospitality/amaris.jpg" alt="amaris.jpg" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item zonk">
                            </li>
                        </ul>
                        <ul class="hexa__gate__contents clearfix" id="tabs-content">
                            <li class="hexa__gate__content clearfix" id="santika-resorts">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png"
                                            alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang
                                                melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua
                                                lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat
                                                memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada
                                                di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai
                                                Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak
                                                tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami
                                                hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda
                                                cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank"
                                        class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="samaya">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png"
                                            alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang
                                                melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua
                                                lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat
                                                memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada
                                                di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai
                                                Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak
                                                tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami
                                                hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda
                                                cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank"
                                        class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="kayana">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png"
                                            alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang
                                                melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua
                                                lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat
                                                memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada
                                                di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai
                                                Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak
                                                tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami
                                                hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda
                                                cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank"
                                        class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="anvaya">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png"
                                            alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang
                                                melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua
                                                lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat
                                                memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada
                                                di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai
                                                Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak
                                                tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami
                                                hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda
                                                cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank"
                                        class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="santika-premiere">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png"
                                            alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang
                                                melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua
                                                lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat
                                                memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada
                                                di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai
                                                Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak
                                                tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami
                                                hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda
                                                cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank"
                                        class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="santika">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png"
                                            alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang
                                                melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua
                                                lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat
                                                memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada
                                                di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai
                                                Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak
                                                tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami
                                                hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda
                                                cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank"
                                        class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="amaris">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png"
                                            alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang
                                                melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua
                                                lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat
                                                memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada
                                                di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai
                                                Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak
                                                tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami
                                                hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda
                                                cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank"
                                        class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>