<!DOCTYPE html>
<html lang="en">
{{>head page=""}}

<body class="bottom__bar--wht">

    {{>header_white page=""}}
    <!-- s:panel -->
    <div id="panel" class="search__bg">
        <div class="container clearfix panel__side align-start pt20">
            <div class="panel__wrapper col-7">
                <div class="panel__content">
                    <div class="panel__title panel__title--right">
                        <h1 class="panel__title__text title-blue">Hasil pencarian</h1>
                    </div>
                    <div class="search__alert">
                        <p class="search__alert__text">Menampilkan 1-10 dari 1234 hasil pencarian</p>
                    </div>
                    <div class="panel__paragraph panel__text--lstripe text-left search__paragraph">
                        <div class="search">
                            <ul class="search__list">
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">1. Perjalanan Setengah Abad Kompas</h3>
                                    </a>
                                    <p class="search__desc">Hingga 25 Juni 2015 Harian KOMPAS telah menerbitkan lebih dari 30.117 edisi untuk terbitan nasional ataupun regional. Pada sebuah periode Harian KOMPAS pernah menerbitkan edisi regional KOMPAS Jawa Timur, KOMPAS Jawa Tengah, KOMPAS Jawa</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">2. Disclaimer Forum Komunikasi Karyawan Kompas Gramedia</h3>
                                    </a>
                                    <p class="search__desc">FORUM KOMUNIKASI KARYAWAN KOMPAS GRAMEDIA Demi menciptakan forum komunikasi internal (online) yang dinamis, interaktif, terbuka dan yang dapat dimanfaatkan oleh seluruh warga KOMPAS Gramedia (korporat, unit, </p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/forum/showthread.php?15-Disclaimer-Forum-Komunikasi-Karyawan-kompas-Gramedia&s=3c6501e7b362c448e023f0edbc054253&p=41</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">3. Perjalanan Setengah Abad Kompas</h3>
                                    </a>
                                    <p class="search__desc">Hingga 25 Juni 2015 Harian KOMPAS telah menerbitkan lebih dari 30.117 edisi untuk terbitan nasional ataupun regional. Pada sebuah periode Harian KOMPAS pernah menerbitkan edisi regional KOMPAS Jawa Timur, KOMPAS Jawa Tengah, KOMPAS Jawa</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">4. Disclaimer Forum Komunikasi Karyawan Kompas Gramedia</h3>
                                    </a>
                                    <p class="search__desc">FORUM KOMUNIKASI KARYAWAN KOMPAS GRAMEDIA Demi menciptakan forum komunikasi internal (online) yang dinamis, interaktif, terbuka dan yang dapat dimanfaatkan oleh seluruh warga KOMPAS Gramedia (korporat, unit, </p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/forum/showthread.php?15-Disclaimer-Forum-Komunikasi-Karyawan-kompas-Gramedia&s=3c6501e7b362c448e023f0edbc054253&p=41</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">5. Perjalanan Setengah Abad Kompas</h3>
                                    </a>
                                    <p class="search__desc">Hingga 25 Juni 2015 Harian KOMPAS telah menerbitkan lebih dari 30.117 edisi untuk terbitan nasional ataupun regional. Pada sebuah periode Harian KOMPAS pernah menerbitkan edisi regional KOMPAS Jawa Timur, KOMPAS Jawa Tengah, KOMPAS Jawa</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">6. Disclaimer Forum Komunikasi Karyawan Kompas Gramedia</h3>
                                    </a>
                                    <p class="search__desc">FORUM KOMUNIKASI KARYAWAN KOMPAS GRAMEDIA Demi menciptakan forum komunikasi internal (online) yang dinamis, interaktif, terbuka dan yang dapat dimanfaatkan oleh seluruh warga KOMPAS Gramedia (korporat, unit, </p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/forum/showthread.php?15-Disclaimer-Forum-Komunikasi-Karyawan-kompas-Gramedia&s=3c6501e7b362c448e023f0edbc054253&p=41</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">7. Perjalanan Setengah Abad Kompas</h3>
                                    </a>
                                    <p class="search__desc">Hingga 25 Juni 2015 Harian KOMPAS telah menerbitkan lebih dari 30.117 edisi untuk terbitan nasional ataupun regional. Pada sebuah periode Harian KOMPAS pernah menerbitkan edisi regional KOMPAS Jawa Timur, KOMPAS Jawa Tengah, KOMPAS Jawa</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">8. Disclaimer Forum Komunikasi Karyawan Kompas Gramedia</h3>
                                    </a>
                                    <p class="search__desc">FORUM KOMUNIKASI KARYAWAN KOMPAS GRAMEDIA Demi menciptakan forum komunikasi internal (online) yang dinamis, interaktif, terbuka dan yang dapat dimanfaatkan oleh seluruh warga KOMPAS Gramedia (korporat, unit, </p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/forum/showthread.php?15-Disclaimer-Forum-Komunikasi-Karyawan-kompas-Gramedia&s=3c6501e7b362c448e023f0edbc054253&p=41</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">9. Perjalanan Setengah Abad Kompas</h3>
                                    </a>
                                    <p class="search__desc">Hingga 25 Juni 2015 Harian KOMPAS telah menerbitkan lebih dari 30.117 edisi untuk terbitan nasional ataupun regional. Pada sebuah periode Harian KOMPAS pernah menerbitkan edisi regional KOMPAS Jawa Timur, KOMPAS Jawa Tengah, KOMPAS Jawa</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">10. Disclaimer Forum Komunikasi Karyawan Kompas Gramedia</h3>
                                    </a>
                                    <p class="search__desc">FORUM KOMUNIKASI KARYAWAN KOMPAS GRAMEDIA Demi menciptakan forum komunikasi internal (online) yang dinamis, interaktif, terbuka dan yang dapat dimanfaatkan oleh seluruh warga KOMPAS Gramedia (korporat, unit, FORUM KOMUNIKASI KARYAWAN KOMPAS GRAMEDIA Demi menciptakan forum komunikasi internal (online) yang dinamis, interaktif, terbuka dan yang dapat dimanfaatkan oleh seluruh warga KOMPAS Gramedia (korporat, unit,</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/forum/showthread.php?15-Disclaimer-Forum-Komunikasi-Karyawan-kompas-Gramedia&s=3c6501e7b362c448e023f0edbc054253&p=41</a>
                                </li>
                            </ul>
                            {{>pagination_white}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
