<!DOCTYPE html>
<html lang="en">
{{> head page="Beranda"}}

<body>

    <!--header wp-->
    {{> header_wp}}
    <!--header wp-->

    <!-- s:panel -->
    <div id="panel">
        <!--tagline-->
        {{> tagline}}
        <!--tagline-->

        <!--about-->
        {{> about}}
        <!--about-->

        <!--business-->
        {{> business}}
        <!--business-->

        <!--csr-->
        {{> csr}}
        <!--csr-->

        <!--ruang media-->
        {{> ruang_media}}
        <!--ruang media-->

        <!--karir-->
        {{> karir}}
        <!--karir-->

        <!--contact-->
        {{> contact}}
        <!--contact-->

    </div>

    <!-- e:panel -->
    {{> footer}}
    {{> script page="wp"}}
</body>

</html>