<!DOCTYPE html>
<html lang="en">
{{>head page="Pimpinan KG"}}

<body>

    {{>header page="Tentang KG"}}
    <!-- s:panel -->
    <div id="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Pimpinan</h1>
        </div>
        <div class="container clearfix panel__overlay">
            <div class="panel__side">
                <div class="panel__wrapper">
                    <div class="panel__content">
                        <div class="panel__title">
                            <h1 class="panel__title__text">Pimpinan KG</h1>
                        </div>
                    </div>
                    <div class="management__slider__item">
                        <div class="management__slider--side">
                            <div class="management__slider__content col-6 pl20">
                                <div class="panel__board">
                                    <h2 class="panel__board__name">Perintis</h2>
                                </div>
                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                    <div class="panel__subtitle">
                                        <h3 class="panel__founders">
                                            Jakob Oetama
                                        </h3>
                                        <p class="panel__founders__job">President Commisioner</p>
                                    </div>
                                    <p class="panel__text">
                                        Jakob Oetama awalnya adalah seorang guru, wartawan, dan redaktur majalah
                                        Penabur. Ahli komunikasi sosial ini kemudian bersama
                                        PK Ojong menerbitkan Majalah Intisari, dan mengembangkan usaha media yang kini
                                        dikenal
                                        sebagai Kompas Gramedia.</p>
                                    <div class="panel__subtitle">
                                        <h3 class="panel__founders pl30">
                                            <span class="dggr dggr--black">(†) </span> Petrus Kanisius Ojong
                                        </h3>
                                        <p class="panel__founders__job">Founder</p>
                                    </div>
                                    <p class="panel__text">
                                        P.K. Ojong mengawali profesinya sebagai seorang guru,
                                        kemudian wartawan Star Weekly &amp; Kengpo. Beliau
                                        juga seorang ahli hukum, yang lalu bekerjasama dengan Jakob Oetama menerbitkan
                                        Majalah
                                        Intisari pada tahun 1963, sebagai jawaban atas kerinduan masyarakat pada bacaan
                                        bermutu.
                                    </p>
                                </div>
                            </div>
                            <div class="management__slider__content col-4">
                                <div class="management__founder">
                                    <div class="panel__side__img">
                                        <img src="asset/img/founders.png" alt="founders.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="management__slider__item">
                        <div class="management__wrapper pl20">
                            <div class="panel__board">
                                <h2 class="panel__board__name">Business Unit Director</h2>
                            </div>
                            <div class="tooltip display-desktop">
                                <div class="tooltip__wrapper tooltip__wrapper--top tooltip__wrapper--bud">
                                    <div class="tooltip__item">
                                        <div class="tooltip__img y-priyo">
                                            <img src="asset/img/management/y-priyo.png" alt="y-priyo.png">
                                            <div class="tooltip__content tooltip__bud--1">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Y.Priyo Utomo</div>
                                                <div class="tooltip__text">CEO Group of Retail & Publishing</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item">
                                        <div class="tooltip__img rudi">
                                            <img src="asset/img/management/rudi.png" alt="rudi.png">
                                            <div class="tooltip__content tooltip__bud--9">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Rudi Hartono</div>
                                                <div class="tooltip__text">Property & Infrastructure Group Director
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item tooltip__item--abs tooltip__item--andi">
                                        <div class="tooltip__img andi-budiman">
                                            <img src="asset/img/management/andi-budiman.png" alt="andi-budiman.png">
                                            <div class="tooltip__content tooltip__bud--2">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Andy Budiman</div>
                                                <div class="tooltip__text">CEO Group of Media</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item tooltip__item--abs tooltip__item--sunu">
                                        <div class="tooltip__img sunu">
                                            <img src="asset/img/management/sunu.png" alt="sunu.png">
                                            <div class="tooltip__content tooltip__bud--4">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">G. Maryamto Sunu</div>
                                                <div class="tooltip__text">President Director PT Dyandra Media
                                                    International Tbk.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item">
                                        <div class="tooltip__img johanes-widjaja">
                                            <img src="asset/img/management/johanes-widjaja.png"
                                                alt="johanes-widjaja.png">
                                            <div class="tooltip__content tooltip__bud--5">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Johanes Widjaja</div>
                                                <div class="tooltip__text">Hotel & Resort Group Director</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item tooltip__item--ninok">
                                        <div class="tooltip__img ninok-leksono">
                                            <img src="asset/img/management/ninok-leksono.png" alt="ninok-leksono.png">
                                            <div class="tooltip__content tooltip__bud--7">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Ninok Leksono</div>
                                                <div class="tooltip__text">Rector of Multimedia Nusantara University</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item tooltip__item--abs tooltip__item--hari">
                                        <div class="tooltip__img hari">
                                            <img src="asset/img/management/hari.png" alt="hari.png">
                                            <div class="tooltip__content tooltip__bud--8">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Hari Susanto S</div>
                                                <div class="tooltip__text">Manufacture Group Director </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <ul class="directors js__directors display-mobile">
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/BU/andy.png" alt="">
                                        <div class="mng__item__title">
                                            <span> andy budiman</span>
                                            <span>ceo group of media</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/BU/priyo.png" alt="">
                                        <div class="mng__item__title">
                                            <span> y.priyo utomo</span>
                                            <span>ceo group of retail and publishing</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/BU/johanes.png" alt="">
                                        <div class="mng__item__title">
                                            <span> johanes widjaja</span>
                                            <span>hotel & resort group director</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/BU/hari.png" alt="">
                                        <div class="mng__item__title">
                                            <span> hari susanto s</span>
                                            <span>manufacture group director</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/BU/ninok.png" alt="">
                                        <div class="mng__item__title">
                                            <span> ninok leksono</span>
                                            <span>rector of multimedia nusantara university</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/BU/sunu.png" alt="">
                                        <div class="mng__item__title">
                                            <span> G. Maryamto Sunu</span>
                                            <span>president director of
                                                <br> pt dyandra media international tbk</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/BU/rudi.png" alt="">
                                        <div class="mng__item__title">
                                            <span> Rudi Hartono</span>
                                            <span>Property & Infrastructure Director</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="management__wrapper pl20">
                            <div class="panel__board">
                                <h2 class="panel__board__name">Functional Unit Director</h2>
                            </div>
                            <div class="tooltip tooltip--FUD display-desktop">
                                <div class="tooltip__wrapper tooltip__wrapper--top tooltip__wrapper--fud">
                                    <div class="tooltip__item tooltip__item--sigit">
                                        <div class="tooltip__img sigit">
                                            <img src="asset/img/management/sigit.png" alt="sigit.png">
                                            <div class="tooltip__content tooltip__fud--3">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">B.Sigit Suryanto</div>
                                                <div class="tooltip__text">Corporate Human Resources Director</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item tooltip__item--abs tooltip__item--marcela">
                                        <div class="tooltip__img marcela">
                                            <img src="asset/img/management/marcela.png" alt="marcela.png">
                                            <div class="tooltip__content tooltip__fud--4">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Marcella Lestari</div>
                                                <div class="tooltip__text">Corporate Finance & Legal Director</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item tooltip__item--rusdi">
                                        <div class="tooltip__img rusdi">
                                            <img src="asset/img/management/rusdi-amral.png" alt="rusdi-amral.png">
                                            <div class="tooltip__content tooltip__fud--5">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Rusdi Amral</div>
                                                <div class="tooltip__text">Corporate Communication Director</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item tooltip__item--cornelius">
                                        <div class="tooltip__img cornelius">
                                            <img src="asset/img/management/cornelius.png" alt="cornelius.png">
                                            <div class="tooltip__content tooltip__fud--8">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Cornelius Budianto</div>
                                                <div class="tooltip__text">Corporate IT Director</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item tooltip__item--abs tooltip__item--thomas">
                                        <div class="tooltip__img thomas">
                                            <img src="asset/img/management/thomas.png" alt="thomas.png">
                                            <div class="tooltip__content tooltip__fud--6">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Thomas Athanasius</div>
                                                <div class="tooltip__text">Corporate Secretary</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tooltip__item tooltip__item--johanes">
                                        <div class="tooltip__img johanes">
                                            <img src="asset/img/management/johanes.png" alt="johanes.png">
                                            <div class="tooltip__content tooltip__fud--7">
                                                <div class="tooltip__line tooltip__line--v"></div>
                                                <div class="tooltip__circle"></div>
                                                <div class="tooltip__heading">Johanes Latief S</div>
                                                <div class="tooltip__text">Corporate Comptroller Director</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="directors js__directors display-mobile">
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/FU/rusdi.png" alt="">
                                        <div class="mng__item__title">
                                            <span> rusdi amral</span>
                                            <span>corporate
                                                <br> communication director</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/FU/thomas.png" alt="">
                                        <div class="mng__item__title">
                                            <span> thomas athanasius</span>
                                            <span>corporate
                                                <br> secretary director</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/FU/sigit.png" alt="">
                                        <div class="mng__item__title">
                                            <span> b.sigit suryanto</span>
                                            <span>corporate
                                                <br> human resources director</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/FU/marcella.png" alt="">
                                        <div class="mng__item__title">
                                            <span> marcella lestari</span>
                                            <span>corporate
                                                <br> finance & legal director</span>
                                        </div>
                                    </div>
                                </li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/FU/cornelius.png" alt="">
                                        <div class="mng__item__title">
                                            <span> cornelius budianto</span>
                                            <span>corporate
                                                <br>it director</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mng__item-directors">
                                        <img src="asset/img/management/FU/johanes.png" alt="">
                                        <div class="mng__item__title">
                                            <span> johanes latief s</span>
                                            <span>corporate
                                                <br> comptroller director</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>