<!DOCTYPE html>
<html lang="en">
{{>head page="Bisnis"}}

<body>

    {{>header page="Bisnis"}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Bisnis KG</h1>
        </div>
        <div class="container clearfix business__detail panel__overlay hexa-align">
            <div class="panel__content">
                <div class="panel__title">
                    <h1 class="panel__title__text">Manufacture</h1>
                </div>
                <div class="panel__paragraph">
                    <div class="panel__board">
                        <p class="panel__text">Industri yang mencakup lebih dari <b>6</b> percetakan dan <b>3</b> merek
                            kemasan kertas yang senantiasa memberikan pelayanan terbaik demi kepuasan pelanggan</p>
                    </div>
                </div>
            </div>
            <div class="container business__menu">
                <div class="hexa__gate">
                    <div class="hexa__gate__wrap">
                        <ul class="hexa__gate__menu hexa-align clearfix" data-type="tabs">
                            <li class="hexa__gate__item">
                                <a href="#gramedia-printing" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/manufacture/gramedia-printing.jpg" alt="gramedia-printing.jpg" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#metaform" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/manufacture/metaform.png" alt="metaform.png" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="hexa__gate__contents clearfix" id="tabs-content">
                            <li class="hexa__gate__content clearfix" id="gramedia-printing">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/manufacture/metaform.png" alt="asset/img/manufacture/metaform.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Transformasi Group of Manufacture dimulai pada tahun
                                                2010, ketika Gramedia Printing mulai melayani pencetakan produk kemasan
                                                dengan nama Metaform, yang terdiri dari tiga brand yaitu Metafold (paper
                                                packaging), Metaflex (flexibel packaging), dan Metamark (label).</p>
                                        </div>
                                    </div>
                                    <a href="http://metaform.co.id" target="_blank"
                                        class="hexa__gate__url">metaform.co.id</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="metaform">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/manufacture/metaform.png" alt="asset/img/manufacture/metaform.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Transformasi Group of Manufacture dimulai pada tahun
                                                2010, ketika Gramedia Printing mulai melayani pencetakan produk kemasan
                                                dengan nama Metaform, yang terdiri dari tiga brand yaitu Metafold (paper
                                                packaging), Metaflex (flexibel packaging), dan Metamark (label).</p>
                                        </div>
                                    </div>
                                    <a href="http://metaform.co.id" target="_blank"
                                        class="hexa__gate__url">metaform.co.id</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>