<!DOCTYPE html>
<html lang="en">
{{>head page="Ruang Media"}}

<body>

    {{>header page="Ruang Media"}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Ruang Media</h1>
        </div>
        <div class="container clearfix panel__overlay">
            <div class="panel__wrapper">
                <div class="panel__title">
                    <h1 class="panel__title__text">Berita</h1>
                </div>
                <div class="panel__paragraph panel__text--lstripe text-left mt40">
                    <!--berita-->
                    {{> berita}}
                    <!--berita-->

                    <!--pagination white-->
                    {{> pagination_white}}
                    <!--pagination white-->
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>