<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    {{>header page=""}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Privacy</h1>
        </div>
        <div class="container clearfix panel__overlay">
            <div class="panel__content col-7">
                <div class="privacy__wrapper">
                    <div class="panel__title">
                        <h1 class="panel__title__text">Kebijakan Privasi Kompas Gramedia</h1>
                    </div>
                    <div class="privacy__intro">
                        <p class="privacy__paragraph privacy__paragraph--intro">Selamat datang di situs web Kompas
                            Gramedia, perusahaan media terbesar di Indonesia. Sebelum Anda
                            melakukan penelusuran lebih lanjut pada situs kami, mohon memperhatikan kebijakan penanganan
                            informasi pribadi Anda sesuai dengan kebijakan privasi yang kami cantumkan di bawah ini.</p>
                        <p class="privacy__paragraph privacy__paragraph--intro">Dengan melakukan penelusuran pada situs
                            web kami, maka Anda dianggap telah memberikan persetujuan
                            Anda–sesuai kebutuhan dan dengan cara yang patut–untuk hal-hal yang terdapat dalam kebijakan
                            privasi ini.</p>
                    </div>
                    <h3 class="privacy__title">
                        Apa tujuan kebijakan privasi ini?
                    </h3>
                    <ul class="privacy__list">
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Kebijakan privasi ini bertujuan untuk melindungi data atau informasi pribadi yang Anda
                                serahkan melalui transaksi informasi
                                di situs ini atau melalui penelusuran informasi yang dikumpulkan ketika Anda bernavigasi
                                di dalam situs kami, baik berupa nama, usia, alamat rumah, nomor telepon, dan alamat
                                surel
                                yang diserahkan secara sadar dan sukarela oleh Anda.</p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Informasi pribadi tersebut dimaksudkan untuk memudahkan proses komunikasi yang berjalan
                                antara publik dengan perusahaan,
                                dalam hal ini untuk menindaklanjuti permohonan yang Anda kirimkan kepada kami, menjawab
                                pertanyaan
                                Anda terkait perusahaan kami, memberi Anda kemudahan berkomunikasi dengan kami, serta
                                meningkatkan
                                pelayanan yang lebih efektif secara terus-menerus untuk Anda.</p>
                        </li>

                    </ul>
                    <h3 class="privacy__title">
                        Bagaimana kami menggunakan informasi pribadi yang Anda berikan?
                    </h3>
                    <ul class="privacy__list">
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Informasi pribadi yang Anda berikan kepada kami adalah hal yang sangat berharga dan
                                penting, karena itu Anda memiliki hak
                                sepenuhnya untuk melakukan pengawasan atau bertanya langsung terkait cara penggunaan
                                data
                                pribadi Anda. Kompas Gramedia tidak menjual, mentransfer, atau menyebarluaskan data
                                pribadi
                                kepada pihak ketiga di luar aliansi Kompas Gramedia Group tanpa seizin Anda.</p>
                        </li>

                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Informasi pribadi yang Anda berikan akan kami pergunakan secara bertanggung jawab untuk
                                kebutuhan perusahaan seperti survei,
                                pesan seluler, penawaran khusus, ataupun mendukung promosi kami. Dengan demikian, setiap
                                kali informasi pribadi Anda hendak kami pergunakan, kami akan memberitahukan hal
                                tersebut
                                kepada Anda dan menggunakan informasi tersebut atas seizin Anda.</p>
                        </li>

                    </ul>
                    <h3 class="privacy__title">
                        Bagaimana prosedur yang kami lakukan terkait informasi pribadi Anda ketika diperintahkan oleh
                        hukum?
                    </h3>
                    <ul class="privacy__list">
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Kompas Gramedia mematuhi hukum yang berlaku di Indonesia dan kami berhak menyampaikan
                                informasi pribadi Anda jika diperintahkan
                                oleh hukum atau yakin bahwa langkah tersebut adalah perlu dilakukan untuk (1) patuh pada
                                hukum atau proses pengadilan; (2) melindungi dan mempertahankan hak cipta dan hak milik
                                kami;
                                (3) melindungi terhadap penyalahgunaan atau penggunaan tanpa izin dari situs web kami;
                                atau
                                (4) melindungi keamanan pribadi atau properti atas pengguna kami atau publik (di antara
                                hal
                                lainnya, hal ini berarti jika Anda memberikan informasi palsu atau berpura-pura menjadi
                                orang
                                lain, informasi mengenai diri Anda dapat kami sampaikan sebagai bagian dari penyelidikan
                                atas tindakan Anda).
                            </p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Kompas Gramedia memiliki hak tersebut untuk melindungi integritas situs web kami ketika
                                dibutuhkan kerja sama dalam sebuah
                                investigasi kepolisian atau keamanan publik.
                            </p>
                        </li>

                    </ul>
                    <h3 class="privacy__title">
                        Bagaimana kami menjaga informasi pribadi Anda?
                    </h3>
                    <ul class="privacy__list">
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Perlu Anda ketahui bahwa kami tidak dapat mengendalikan dan tidak bertanggung jawab atas
                                penggunaan informasi pribadi Anda
                                oleh pihak lain yang Anda berikan kepada mereka melalui situs web ini (dalam hal ini
                                adalah
                                sambungan ke situs lain yang kami sediakan melalui situs kami). Kami meminta Anda untuk
                                berhati-hati
                                dan membaca kembali kebijakan privasi yang diterapkan oleh situs di luar situs kami.
                            </p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Kami telah menerapkan teknologi dan kebijakan dengan tujuan melindungi privasi Anda dari
                                pengakses tidak sah dan penggunaan
                                yang tidak patut, dan kami akan memperbarui langkah-langkah ini seiring perkembangan
                                teknologi
                                baru, sesuai kebutuhan.
                            </p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Kami berkomitmen untuk menjaga data pribadi Anda sebaik-baiknya. Jika Anda ingin
                                meninjau, mengubah, atau menghapus data
                                yang telah Anda berikan kepada kami, silakan hubungi kami atau klik di sini untuk
                                melihat
                                data pribadi Anda yang kami miliki.
                            </p>
                        </li>
                    </ul>
                    <h3 class="privacy__title">
                        Terkait Cookies dan teknologi Lainnya
                    </h3>
                    <ul class="privacy__list">
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Cookie adalah satu bagian data yang disimpan di komputer pengguna yang berkaitan dengan
                                informasi tentang pengguna tersebut.
                                Kami menggunakan session ID cookie, yang berarti ketika pengguna menutup peramban,
                                cookie
                                tersebut dihapus. Cookie juga digunakan untuk manajemen session di situs web kami.
                                Pengguna
                                harus mengaktifkan cookie untuk menggunakan situs web kami.
                            </p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Pengguna juga dapat menggunakan cookie untuk mengingat kata sandi mereka agar secara
                                otomatis bisa log masuk ke situs kami.
                                Kami tidak dan tidak akan menggunakan cookie untuk mengumpulkan informasi pribadi dari
                                pengguna
                                manapun yang tidak dimaksudkan untuk disampaikan pada kami.
                            </p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                IP Addresses – Kompas Gramedia menyimpan IP (Internet Protocol) address, atau lokasi
                                komputer Anda di Internet, untuk keperluan
                                administrasi sistem dan troubleshooting. Kami menggunakan IP address secara keseluruhan
                                (agregat)
                                untuk mengetahui lokasi-lokasi yang mengakses situs kami.
                            </p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Log Files - Data log hanya digunakan dalam bentuk agregat (keseluruhan) untuk
                                menganalisa penggunaan web kami.
                            </p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Keamanan Data - Untuk mencegah akses data oleh pihak yang tidak memiliki wewenang,
                                menjaga keakuratan data dan memastikan
                                penggunaan informasi yang semestinya, kami menggunakan prosedur fisik, elektronik dan
                                manajerial
                                untuk melindungi informasi yang kami kumpulkan secara online.
                            </p>
                        </li>
                    </ul>
                    <h3 class="privacy__title">
                        Bagaimana dengan informasi pengguna di bawah umur atau anak-anak?
                    </h3>
                    <ul class="privacy__list">
                        <p class="privacy__list--paragraph">
                            Situs web Kompas Gramedia dirancang untuk dipergunakan oleh orang dewasa. Jika Situs web
                            Kompas Gramedia dimaksudkan untuk
                            penggunaan oleh kalangan yang lebih muda, kami akan meminta persetujuan dari orang tua atau
                            wali
                            sebelum mengumpulkan informasi pribadi jika kami merasa hal itu sesuatu yang patut dilakukan
                            atau jika hal itu diharuskan oleh undang-undang dan peraturan perlindungan data yang
                            berlaku.
                        </p>
                    </ul>
                    <h3 class="privacy__title">Bagaimana dengan informasi pengguna di bawah umur atau anak-anak?</h3>
                    <ul class="privacy__list">
                        <p class="privacy__list--paragraph">
                            Situs web Kompas Gramedia dirancang untuk dipergunakan oleh orang dewasa. Jika Situs web
                            Kompas Gramedia dimaksudkan untuk
                            penggunaan oleh kalangan yang lebih muda, kami akan meminta persetujuan dari orang tua atau
                            wali
                            sebelum mengumpulkan informasi pribadi jika kami merasa hal itu sesuatu yang patut dilakukan
                            atau jika hal itu diharuskan oleh undang-undang dan peraturan perlindungan data yang
                            berlaku.
                        </p>
                        <p class="privacy__list--paragraph">
                            Jika kami menemukan bahwa kami telah mengumpulkan informasi tanpa persetujuan dari orang tua
                            atau wali sementara persetujuan
                            tersebut harus diperoleh sebelumnya, kami akan menghapus informasi itu sesegera mungkin.
                        </p>
                    </ul>
                    <h3 class="privacy__title">Perubahan Kebijakan Privasi dan Cara Menghubungi Kami</h3>
                    <ul class="privacy__list">
                        <p class="privacy__list--paragraph">
                            Kebijakan privasi ini berlaku sejak April 2015. Kami dapat mengubah isi kebijakan privasi
                            ini dari waktu ke waktu sesuai
                            dengan kebutuhan. Jika kami melakukan perubahan yang substansial atas kebijakan privasi ini
                            dan
                            cara kami menggunakan data pribadi Anda, maka kami akan mencantumkan perubahan tersebut pada
                            halaman ini dan berusaha semaksimal mungkin untuk memberi tahu Anda jika ada perubahan yang
                            signifikan.
                            Namun, apapun perubahannya, tidak akan menurunkan standar kami dalam memperlakukan data
                            pribadi
                            yang sudah terkumpul.
                        </p>
                    </ul>
                    <div class="privacy__footer">
                        <ul class="privacy__footer__list">
                            <li class="privacy__footer__item">Kompas Gramedia – Corporate Communication
                                <br>Jl. Palmerah Selatan 17, Jakarta 10270
                                <br>P : +62 21-5483008 | F: +62 21-5494051</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>