<!DOCTYPE html>
<html lang="en">
{{>head page="Bisnis"}}

<body>

    {{>header page="Bisnis"}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Bisnis KG</h1>
        </div>
        <div class="container clearfix business__detail panel__overlay hexa-align">
            <div class="panel__content">
                <div class="panel__title">
                    <h1 class="panel__title__text">Retail and Publishing</h1>
                </div>
                <div class="panel__paragraph">
                    <div class="panel__board">
                        <p class="panel__text">Bersama <b>7</b> penerbit buku dan lebih dari <b>115</b> jaringan toko di seluruh Indonesia Kompas Gramedia menyediakan produk literasi bermutu dan sejumlah produk untuk mencerahkan kehidupan bangsa</p>
                    </div>
                </div>
            </div>
            <div class="container business__menu">
                <div class="business__tabs hexa__gate">
                    <div class="hexa__gate__wrap">
                        <ul class="hexa__gate__menu hexa-align clearfix" data-type="tabs">
                            <li class="hexa__gate__item">
                                <a href="#gramedia" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/rnp/gramedia.png" alt="gramedia.png" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#elex" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img src="asset/img/rnp/elex.jpg" alt="elex.jpg" class="hexa__gate__img">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#mc" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img src="asset/img/rnp/mc.jpg" alt="mc.jpg" class="hexa__gate__img">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#gpu" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img src="asset/img/rnp/gpu.png" alt="gpu.png" class="hexa__gate__img">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#kpb" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img src="asset/img/rnp/kpb.jpg" alt="kpb.jpg" class="hexa__gate__img">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item zonk">
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#grasindo" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img data-src="asset/img/rnp/grasindo.jpg" alt="grasindo.jpg" class="hexa__gate__img lozad">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#bip" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img src="asset/img/rnp/bip.jpg" alt="bip.jpg" class="hexa__gate__img">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#kpg" class="hexa__gate__link">
                                    <svg id="Component_1_1" data-name="Component 1 – 1"
                                        xmlns="http://www.w3.org/2000/svg" width="184.422" height="160.497"
                                        viewBox="0 0 184.422 160.497">
                                        <path id="Polygon_9" data-name="Polygon 9" class="cls-1"
                                            d="M126.742,0a20,20,0,0,1,17.342,10.037L178.7,70.285a20,20,0,0,1,0,19.927l-34.615,60.249A20,20,0,0,1,126.742,160.5H57.681a20,20,0,0,1-17.342-10.037L5.724,90.212a20,20,0,0,1,0-19.927L40.339,10.037A20,20,0,0,1,57.681,0Z" />
                                    </svg>
                                    <div class="hexa__gate__logo">
                                        <img src="asset/img/rnp/kpg.png" alt="kpg.png" class="hexa__gate__img">
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item zonk">
                            </li>
                        </ul>
                        <ul class="hexa__gate__contents clearfix" id="tabs-content">
                            <li class="hexa__gate__content clearfix" id="gramedia">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/rnp/gramedia.png"
                                            alt="asset/img/rnp/gramedia.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Toko Gramedia didirikan 2 Februari 1970 oleh P.K.
                                                Ojong, dengan misi Ikut serta dalam upaya mencerdaskan bangsa dengan
                                                menyebarluaskan pengetahuan plus informasi melalui berbagai sarana usaha
                                                ritel dan distribusi buku, alat sekolah dan kantor serta produk
                                                multimedia, ditandai dengan pelayanan unggul, manajemen proaktif dan
                                                perilaku bisnis yang beretika.</p>
                                            <p class="panel__text">Dari sebuah toko buku kecil berukuran 25 m2, yang
                                                berlokasi di Jalan Gajah Mada, Jakarta Barat, Toko Gramedia sampai
                                                dengan Oktober 2015 telah tumbuh dan berkembang menjadi 120 toko.
                                                Setelah berusia 45 tahun, Toko Gramedia melakukan perubahan brand
                                                identity yang mengandung makna “Inovasi, Inisiatif, Inisiasi.” </p>
                                            <p class="panel__text">Gramedia membawa transformasi pada ide-ide
                                                masyarakat. Gramedia ada untuk siapapun menemukan dan mengembangkan ide.
                                                Ide untuk memulai imajinasi, ide yang menjadi inspirasi, dan ide untuk
                                                menuju inovasi. Gramedia bukan lagi sekedar tempat bertransaksi, tetapi
                                                menjadi pusat interaksi. Gramedia melayani manusia (people service),
                                                bukan hanya pelanggan (customer service). Ide bagi Gramedia seperti
                                                makhluk hidup pada umumnya, bisa tumbuh dan berkembang, membutuhkan
                                                waktu, perhatian dan komitmen, agar bermanfaat dan mengubah hidup
                                                masyarakat. Temukan inspirasi dan kreativitasmu di seluruh Toko Gramedia
                                                yang tersebat di 46 kota di Indonesia mulai dari Banda Aceh, NAD hingga
                                                Jayapura, Papua.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.gramedia.com/" target="_blank"
                                        class="hexa__gate__url">gramedia.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="elex">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/rnp/gramedia.png"
                                            alt="asset/img/rnp/gramedia.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Toko Gramedia didirikan 2 Februari 1970 oleh P.K.
                                                Ojong, dengan misi Ikut serta dalam upaya mencerdaskan bangsa dengan
                                                menyebarluaskan pengetahuan plus informasi melalui berbagai sarana usaha
                                                ritel dan distribusi buku, alat sekolah dan kantor serta produk
                                                multimedia, ditandai dengan pelayanan unggul, manajemen proaktif dan
                                                perilaku bisnis yang beretika.</p>
                                            <p class="panel__text">Dari sebuah toko buku kecil berukuran 25 m2, yang
                                                berlokasi di Jalan Gajah Mada, Jakarta Barat, Toko Gramedia sampai
                                                dengan Oktober 2015 telah tumbuh dan berkembang menjadi 120 toko.
                                                Setelah berusia 45 tahun, Toko Gramedia melakukan perubahan brand
                                                identity yang mengandung makna “Inovasi, Inisiatif, Inisiasi.” </p>
                                            <p class="panel__text">Gramedia membawa transformasi pada ide-ide
                                                masyarakat. Gramedia ada untuk siapapun menemukan dan mengembangkan ide.
                                                Ide untuk memulai imajinasi, ide yang menjadi inspirasi, dan ide untuk
                                                menuju inovasi. Gramedia bukan lagi sekedar tempat bertransaksi, tetapi
                                                menjadi pusat interaksi. Gramedia melayani manusia (people service),
                                                bukan hanya pelanggan (customer service). Ide bagi Gramedia seperti
                                                makhluk hidup pada umumnya, bisa tumbuh dan berkembang, membutuhkan
                                                waktu, perhatian dan komitmen, agar bermanfaat dan mengubah hidup
                                                masyarakat. Temukan inspirasi dan kreativitasmu di seluruh Toko Gramedia
                                                yang tersebat di 46 kota di Indonesia mulai dari Banda Aceh, NAD hingga
                                                Jayapura, Papua.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.gramedia.com/" target="_blank"
                                        class="hexa__gate__url">gramedia.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="mc">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/rnp/gramedia.png"
                                            alt="asset/img/rnp/gramedia.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Toko Gramedia didirikan 2 Februari 1970 oleh P.K.
                                                Ojong, dengan misi Ikut serta dalam upaya mencerdaskan bangsa dengan
                                                menyebarluaskan pengetahuan plus informasi melalui berbagai sarana usaha
                                                ritel dan distribusi buku, alat sekolah dan kantor serta produk
                                                multimedia, ditandai dengan pelayanan unggul, manajemen proaktif dan
                                                perilaku bisnis yang beretika.</p>
                                            <p class="panel__text">Dari sebuah toko buku kecil berukuran 25 m2, yang
                                                berlokasi di Jalan Gajah Mada, Jakarta Barat, Toko Gramedia sampai
                                                dengan Oktober 2015 telah tumbuh dan berkembang menjadi 120 toko.
                                                Setelah berusia 45 tahun, Toko Gramedia melakukan perubahan brand
                                                identity yang mengandung makna “Inovasi, Inisiatif, Inisiasi.” </p>
                                            <p class="panel__text">Gramedia membawa transformasi pada ide-ide
                                                masyarakat. Gramedia ada untuk siapapun menemukan dan mengembangkan ide.
                                                Ide untuk memulai imajinasi, ide yang menjadi inspirasi, dan ide untuk
                                                menuju inovasi. Gramedia bukan lagi sekedar tempat bertransaksi, tetapi
                                                menjadi pusat interaksi. Gramedia melayani manusia (people service),
                                                bukan hanya pelanggan (customer service). Ide bagi Gramedia seperti
                                                makhluk hidup pada umumnya, bisa tumbuh dan berkembang, membutuhkan
                                                waktu, perhatian dan komitmen, agar bermanfaat dan mengubah hidup
                                                masyarakat. Temukan inspirasi dan kreativitasmu di seluruh Toko Gramedia
                                                yang tersebat di 46 kota di Indonesia mulai dari Banda Aceh, NAD hingga
                                                Jayapura, Papua.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.gramedia.com/" target="_blank"
                                        class="hexa__gate__url">gramedia.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="gpu">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/rnp/gramedia.png"
                                            alt="asset/img/rnp/gramedia.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Toko Gramedia didirikan 2 Februari 1970 oleh P.K.
                                                Ojong, dengan misi Ikut serta dalam upaya mencerdaskan bangsa dengan
                                                menyebarluaskan pengetahuan plus informasi melalui berbagai sarana usaha
                                                ritel dan distribusi buku, alat sekolah dan kantor serta produk
                                                multimedia, ditandai dengan pelayanan unggul, manajemen proaktif dan
                                                perilaku bisnis yang beretika.</p>
                                            <p class="panel__text">Dari sebuah toko buku kecil berukuran 25 m2, yang
                                                berlokasi di Jalan Gajah Mada, Jakarta Barat, Toko Gramedia sampai
                                                dengan Oktober 2015 telah tumbuh dan berkembang menjadi 120 toko.
                                                Setelah berusia 45 tahun, Toko Gramedia melakukan perubahan brand
                                                identity yang mengandung makna “Inovasi, Inisiatif, Inisiasi.” </p>
                                            <p class="panel__text">Gramedia membawa transformasi pada ide-ide
                                                masyarakat. Gramedia ada untuk siapapun menemukan dan mengembangkan ide.
                                                Ide untuk memulai imajinasi, ide yang menjadi inspirasi, dan ide untuk
                                                menuju inovasi. Gramedia bukan lagi sekedar tempat bertransaksi, tetapi
                                                menjadi pusat interaksi. Gramedia melayani manusia (people service),
                                                bukan hanya pelanggan (customer service). Ide bagi Gramedia seperti
                                                makhluk hidup pada umumnya, bisa tumbuh dan berkembang, membutuhkan
                                                waktu, perhatian dan komitmen, agar bermanfaat dan mengubah hidup
                                                masyarakat. Temukan inspirasi dan kreativitasmu di seluruh Toko Gramedia
                                                yang tersebat di 46 kota di Indonesia mulai dari Banda Aceh, NAD hingga
                                                Jayapura, Papua.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.gramedia.com/" target="_blank"
                                        class="hexa__gate__url">gramedia.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="kpb">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/rnp/gramedia.png"
                                            alt="asset/img/rnp/gramedia.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Toko Gramedia didirikan 2 Februari 1970 oleh P.K.
                                                Ojong, dengan misi Ikut serta dalam upaya mencerdaskan bangsa dengan
                                                menyebarluaskan pengetahuan plus informasi melalui berbagai sarana usaha
                                                ritel dan distribusi buku, alat sekolah dan kantor serta produk
                                                multimedia, ditandai dengan pelayanan unggul, manajemen proaktif dan
                                                perilaku bisnis yang beretika.</p>
                                            <p class="panel__text">Dari sebuah toko buku kecil berukuran 25 m2, yang
                                                berlokasi di Jalan Gajah Mada, Jakarta Barat, Toko Gramedia sampai
                                                dengan Oktober 2015 telah tumbuh dan berkembang menjadi 120 toko.
                                                Setelah berusia 45 tahun, Toko Gramedia melakukan perubahan brand
                                                identity yang mengandung makna “Inovasi, Inisiatif, Inisiasi.” </p>
                                            <p class="panel__text">Gramedia membawa transformasi pada ide-ide
                                                masyarakat. Gramedia ada untuk siapapun menemukan dan mengembangkan ide.
                                                Ide untuk memulai imajinasi, ide yang menjadi inspirasi, dan ide untuk
                                                menuju inovasi. Gramedia bukan lagi sekedar tempat bertransaksi, tetapi
                                                menjadi pusat interaksi. Gramedia melayani manusia (people service),
                                                bukan hanya pelanggan (customer service). Ide bagi Gramedia seperti
                                                makhluk hidup pada umumnya, bisa tumbuh dan berkembang, membutuhkan
                                                waktu, perhatian dan komitmen, agar bermanfaat dan mengubah hidup
                                                masyarakat. Temukan inspirasi dan kreativitasmu di seluruh Toko Gramedia
                                                yang tersebat di 46 kota di Indonesia mulai dari Banda Aceh, NAD hingga
                                                Jayapura, Papua.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.gramedia.com/" target="_blank"
                                        class="hexa__gate__url">gramedia.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="grasindo">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/rnp/gramedia.png"
                                            alt="asset/img/rnp/gramedia.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Toko Gramedia didirikan 2 Februari 1970 oleh P.K.
                                                Ojong, dengan misi Ikut serta dalam upaya mencerdaskan bangsa dengan
                                                menyebarluaskan pengetahuan plus informasi melalui berbagai sarana usaha
                                                ritel dan distribusi buku, alat sekolah dan kantor serta produk
                                                multimedia, ditandai dengan pelayanan unggul, manajemen proaktif dan
                                                perilaku bisnis yang beretika.</p>
                                            <p class="panel__text">Dari sebuah toko buku kecil berukuran 25 m2, yang
                                                berlokasi di Jalan Gajah Mada, Jakarta Barat, Toko Gramedia sampai
                                                dengan Oktober 2015 telah tumbuh dan berkembang menjadi 120 toko.
                                                Setelah berusia 45 tahun, Toko Gramedia melakukan perubahan brand
                                                identity yang mengandung makna “Inovasi, Inisiatif, Inisiasi.” </p>
                                            <p class="panel__text">Gramedia membawa transformasi pada ide-ide
                                                masyarakat. Gramedia ada untuk siapapun menemukan dan mengembangkan ide.
                                                Ide untuk memulai imajinasi, ide yang menjadi inspirasi, dan ide untuk
                                                menuju inovasi. Gramedia bukan lagi sekedar tempat bertransaksi, tetapi
                                                menjadi pusat interaksi. Gramedia melayani manusia (people service),
                                                bukan hanya pelanggan (customer service). Ide bagi Gramedia seperti
                                                makhluk hidup pada umumnya, bisa tumbuh dan berkembang, membutuhkan
                                                waktu, perhatian dan komitmen, agar bermanfaat dan mengubah hidup
                                                masyarakat. Temukan inspirasi dan kreativitasmu di seluruh Toko Gramedia
                                                yang tersebat di 46 kota di Indonesia mulai dari Banda Aceh, NAD hingga
                                                Jayapura, Papua.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.gramedia.com/" target="_blank"
                                        class="hexa__gate__url">gramedia.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="bip">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/rnp/gramedia.png"
                                            alt="asset/img/rnp/gramedia.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Toko Gramedia didirikan 2 Februari 1970 oleh P.K.
                                                Ojong, dengan misi Ikut serta dalam upaya mencerdaskan bangsa dengan
                                                menyebarluaskan pengetahuan plus informasi melalui berbagai sarana usaha
                                                ritel dan distribusi buku, alat sekolah dan kantor serta produk
                                                multimedia, ditandai dengan pelayanan unggul, manajemen proaktif dan
                                                perilaku bisnis yang beretika.</p>
                                            <p class="panel__text">Dari sebuah toko buku kecil berukuran 25 m2, yang
                                                berlokasi di Jalan Gajah Mada, Jakarta Barat, Toko Gramedia sampai
                                                dengan Oktober 2015 telah tumbuh dan berkembang menjadi 120 toko.
                                                Setelah berusia 45 tahun, Toko Gramedia melakukan perubahan brand
                                                identity yang mengandung makna “Inovasi, Inisiatif, Inisiasi.” </p>
                                            <p class="panel__text">Gramedia membawa transformasi pada ide-ide
                                                masyarakat. Gramedia ada untuk siapapun menemukan dan mengembangkan ide.
                                                Ide untuk memulai imajinasi, ide yang menjadi inspirasi, dan ide untuk
                                                menuju inovasi. Gramedia bukan lagi sekedar tempat bertransaksi, tetapi
                                                menjadi pusat interaksi. Gramedia melayani manusia (people service),
                                                bukan hanya pelanggan (customer service). Ide bagi Gramedia seperti
                                                makhluk hidup pada umumnya, bisa tumbuh dan berkembang, membutuhkan
                                                waktu, perhatian dan komitmen, agar bermanfaat dan mengubah hidup
                                                masyarakat. Temukan inspirasi dan kreativitasmu di seluruh Toko Gramedia
                                                yang tersebat di 46 kota di Indonesia mulai dari Banda Aceh, NAD hingga
                                                Jayapura, Papua.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.gramedia.com/" target="_blank"
                                        class="hexa__gate__url">gramedia.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="kpg">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/rnp/gramedia.png"
                                            alt="asset/img/rnp/gramedia.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Toko Gramedia didirikan 2 Februari 1970 oleh P.K.
                                                Ojong, dengan misi Ikut serta dalam upaya mencerdaskan bangsa dengan
                                                menyebarluaskan pengetahuan plus informasi melalui berbagai sarana usaha
                                                ritel dan distribusi buku, alat sekolah dan kantor serta produk
                                                multimedia, ditandai dengan pelayanan unggul, manajemen proaktif dan
                                                perilaku bisnis yang beretika.</p>
                                            <p class="panel__text">Dari sebuah toko buku kecil berukuran 25 m2, yang
                                                berlokasi di Jalan Gajah Mada, Jakarta Barat, Toko Gramedia sampai
                                                dengan Oktober 2015 telah tumbuh dan berkembang menjadi 120 toko.
                                                Setelah berusia 45 tahun, Toko Gramedia melakukan perubahan brand
                                                identity yang mengandung makna “Inovasi, Inisiatif, Inisiasi.” </p>
                                            <p class="panel__text">Gramedia membawa transformasi pada ide-ide
                                                masyarakat. Gramedia ada untuk siapapun menemukan dan mengembangkan ide.
                                                Ide untuk memulai imajinasi, ide yang menjadi inspirasi, dan ide untuk
                                                menuju inovasi. Gramedia bukan lagi sekedar tempat bertransaksi, tetapi
                                                menjadi pusat interaksi. Gramedia melayani manusia (people service),
                                                bukan hanya pelanggan (customer service). Ide bagi Gramedia seperti
                                                makhluk hidup pada umumnya, bisa tumbuh dan berkembang, membutuhkan
                                                waktu, perhatian dan komitmen, agar bermanfaat dan mengubah hidup
                                                masyarakat. Temukan inspirasi dan kreativitasmu di seluruh Toko Gramedia
                                                yang tersebat di 46 kota di Indonesia mulai dari Banda Aceh, NAD hingga
                                                Jayapura, Papua.</p>
                                        </div>
                                    </div>
                                    <a href="https://www.gramedia.com/" target="_blank"
                                        class="hexa__gate__url">gramedia.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>