<!DOCTYPE html>
<html lang="en">
{{>head page=""}}

<body>

    {{>header page=""}}
    <!-- s:panel -->
    <div id="panel" class="min-full">
        <div class="container clearfix panel__side align-start pt20">
            <div class="panel__wrapper col-7">
                <div class="panel__content">
                    <div class="panel__title panel__title--right">
                        <h1 class="panel__title__text title-blue">Hasil pencarian</h1>
                    </div>
                    <div class="search__alert">
                        <p class="search__alert__text">Hasil "kata kunci" tidak ditemukan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
