<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>header}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Sitemap</h1>
        </div>
        <div class="container clearfix panel__overlay">
            <div class="panel__content col-7">
                <div class="panel__title">
                    <h1 class="panel__title__text">peta situs kompas gramedia</h1>
                </div>
                <div class="sitemap__wrapper">
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="ceo.html">Tentang KG</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="ceo.html">CEO Message</a></p>
                                <p class="sitemap__paragraph col-5"></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="vision-mission.html">Visi dan Misi</a></</p>
                                <p class="sitemap__paragraph col-5"></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="history.html">Sejarah</a></p>
                                <p class="sitemap__paragraph col-5"></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="management.html">Pimpinan KG</a></p>
                                <p class="sitemap__paragraph col-5"><a href="management.html">Founders</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="management.html">KG Management (BOD)</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="business.html">Bisnis</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="media.html">Media</a></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">Berita Nasional</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">Berita Regional</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">Berita Hiburan</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">Siaran Radio</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">Services</a></p>
                            </div>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="rnp.html">Retail and Publishing</a></p>
                                <p class="sitemap__paragraph col-5"><a href="rnp.html">Brands (Gramedia, Gramedia Kids, etc)</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="hospitality.html">Hospitality</a></p>
                                <p class="sitemap__paragraph col-5"><a href="hospitality.html">Brands (Santika, Amaris, etc)</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="manufacture.html">Manufacture</a></p>
                                <p class="sitemap__paragraph col-5"><a href="manufacture.html">Brands (Gramedia Printing, Metaform, etc)</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="education.html">Education</a></p>
                                <p class="sitemap__paragraph col-5"><a href="education.html">Brands (UMN, Diginusa, etc)</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="event.html">Event and Venue</a></p>
                                <p class="sitemap__paragraph col-5"><a href="event.html">Brands (Dyandra, Medialand)</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="csr.html">Kontribusi Sosial</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Inspirasi Lingkungan</a></p>
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Kampung Koran, Bank Sampah</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Inspirasi Pendidikan</a></p>
                                <p class="sitemap__paragraph col-5"><a href="csr.html">AkuBaca, KG English Club, KGM</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Inspirasi Budaya</a></p>
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Bentara Budaya</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="news.html">Ruang Media</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="news.html">News</a></p>
                                <p class="sitemap__paragraph col-5"></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="infokita.html">Lounge</a></p>
                                <p class="sitemap__paragraph col-5"><a href="infokita.html">Infokita</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="career.html">Karir</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="career.html">Work With KG</a></p>
                                <p class="sitemap__paragraph col-5"><a href="community.html">Komunitas</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="contact.html">Hubungi Kami</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
