<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    {{>header page=""}}
    <!-- s:panel -->
    <div id="panel" class="panel">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Term of Use</h1>
        </div>
        <div class="container clearfix panel__overlay">
            <div class="panel__content col-7">
                <div class="panel__title">
                    <h1 class="panel__title__text">Petunjuk Penggunaan (Term of Use) Situs Kompas Gramedia</h1>
                </div>
                <div class="privacy__wrapper">
                    <div class="privacy__intro">
                        <p class="privacy__paragraph privacy__paragraph--intro">Selamat datang di situs web Kompas Gramedia, perusahaan media terbesar di Indonesia. Situs resmi
                            Kompas Gramedia Group menampilkan berbagai informasi terkini seputar produk dan layanan jasa
                            dari Kompas Gramedia. Situs ini memudahkan Anda mengakses segala informasi dan memberikan masukan
                            atau pertanyaan Anda seputar perusahaan Kompas Gramedia. Dengan memasuki situs ini, artinya Anda
                            telah menyetujui seluruh kebijakan yang tertera dalam situs ini. Beberapa hal yang perlu menjadi
                            perhatian pengguna dalam menggunakan situs ini adalah sebagai berikut:.</p>
                    </div>
                    <h3 class="privacy__title">Disclaimer</h3>
                    <ul class="privacy__list">
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Dalam situs ini, pengelola akan menyebut dirinya mewakili perusahaan Kompas Gramedia, perusahaan media terbesar di Indonesia,
                                sebagai pengelola, perusahaan, Kompas Gramedia Group, atau kami. Sementara, unit-unit usaha
                                di bawah Kompas Gramedia akan kami sebut sesuai dengan identitas produk atau jasa.</p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Situs ini terdiri dari informasi berupa teks, foto, gambar, suara, yang dilindungi oleh hak cipta dan memiliki lisensi kepemilikan
                                yang merupakan data perusahaan Kompas Gramedia.</p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Kompas Gramedia berhak untuk mengganti format maupun konten/materi apa pun yang terdapat pada situs ini, kapan pun diperlukan.</p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Terdapat tautan ke situs-situs lain di luar situs Kompas Gramedia. Tautan tersebut dicantumkan guna memudahkan Anda memperoleh
                                informasi lebih relevan terkait produk atau jasa yang ditampilkan. Jika Anda ingin mengetahui
                                informasi lebih lanjut terkait situs-situs eksternal yang kami cantumkan, laman komputer
                                Anda akan secara otomatis terhubung ke situs eksternal ketika Anda menekan tombol read more.</p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Kami berupaya menyediakan informasi valid untuk ditampilkan pada situs web ini. Segala informasi yang tersedia pada situs
                                web ini dimaksudkan sebagai informasi umum dan tidak dapat dijadikan penentu maupun pilihan
                                bagi siapa pun.</p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Kompas Gramedia tidak bertanggung jawab atas segala bentuk kerusakan, virus, cacat data, atau kondisi lain yang dapat menimbulkan
                                gangguan pada data, perangkat keras, maupun perangkat lunak dari piranti yang Anda gunakan
                                dalam mengakses situs web kami.</p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Sejauh diizinkan oleh hukum, Kompas Gramedia dalam hal ini terkait direktur, pejabat, karyawan, agen, kontraktor, penerus,
                                atau wakilnya tidak bertanggung jawab atas kerusakan apa pun (baik yang disebabkan oleh kelalaian
                                atau sebaliknya) yang timbul dari penggunaan situs www.kompasgramedia.com ataupun situs lain
                                yang terhubung ke situs ini.</p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Demi menjaga dan meningkatkan performa situs untuk kenyamanan publik, pada suatu waktu tertentu, Kompas Gramedia dapat menangguhkan
                                pengoperasian situs untuk beberapa saat selama masa maintenance.</p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Kompas Gramedia berhak untuk menghentikan akses ke situs web ini setiap saat dan tanpa pemberitahuan terlebih dahulu.
                            </p>
                        </li>
                    </ul>
                    <h3 class="privacy__title">
                        Anda tidak diperbolehkan untuk:
                    </h3>
                    <ul class="privacy__list">
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Menggandakan informasi dengan cara apa pun, mendistribusikan, menyebarluaskan, bahkan mempergunakan informasi perusahaan Kompas Gramedia tanpa seizin kami. Hal ini berlaku untuk seluruh materi yang terdapat pada situs Kompas Gramedia maupun situs-situs yang terkait di dalamnya.
                            </p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Menambahi maupun mengurangi informasi atau materi yang terdapat pada situs ini untuk kebutuhan apa pun.
                            </p>
                        </li>
                        <li class="privacy__paragraph">
                            <p class="privacy__list--paragraph">
                                Menghubungkan melalui link URL situs Kompas Gramedia dengan situs eksternal tanpa izin tertulis dari kami. Jika Anda ingin terhubung dengan situs kami, mohon menghubungi kami dengan mencantumkan detail berupa URL situs Anda yang ingin terhubung dengan situs Kompas Gramedia. Izin tersebut akan kami proses lebih lanjut dan persetujuan yang dikeluarkan merupakan hak perusahaan Kompas Gramedia.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>