<!DOCTYPE html>
<html lang="en">
{{>head page="Visi dan Misi"}}

<body>

    {{>header page="Tentang KG"}}
    <!-- s:panel -->
    <div id="panel" class="panel panel--ceo pb200">
        <div class="hero">
            <img src="asset/img/panel-head.png" alt="panel-head.png" class="hero__ornament">
            <h1 class="hero__title">Visi dan Misi</h1>
        </div>
        <div class="container clearfix panel__overlay">
            <div class="panel__title">
                <h1 class="panel__title__text">Visi dan Misi</h1>
            </div>
            <div class="panel__side">
                <div class="panel__content panel__side">
                    <div class="panel__paragraph panel__text--lstripe col-5">
                        <div class="panel__text__wrapper">
                            <p class="panel__text panel__text--big">Menjadi Perusahaan yang terbesar, terbaik, terpadu
                                dan tersebar di Asia Tenggara melalui usaha
                                berbasis pengetahuan yang menciptakan masyarakat terdidik, tercerahkan, menghargai
                                kebhinekaan
                                dan adil sejahtera.</p>
                        </div>
                    </div>
                    <div class="panel__img col-5">
                        <img data-src="asset/img/vision-kg.png" alt="vision-kg.png" class="lozad">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>