.ftr_mob{
	.panel{
	    border: none;
	    box-shadow: none;
	    border-radius: 0;
		background-color: transparent;
	    margin-bottom: 5px;
	    &-collapse{
	    	transition: all 0.5s ease 0s;
	    }
	}
	.panel-heading{
    	padding: 0;
    	background-color: transparent;
	}
	.panel-title{
		font-size: 13px;
	}
	.panel-title a{
	    display: block;
		font-weight: 400;
	    color: #fff;
	    background: transparent;
	    padding: 10px 10px 10px 35px;
	    position: relative;
	    transition: all 0.5s ease 0s;
	    cursor: pointer;
	    &:before{
		    content: "";
		    background-image: url("../js/angle-up-arrow.svg");
		    font-size: 18px;
		    position: absolute;
		    top: 32%;
		    left: 10px;
		    transition: all 0.3s ease 0s;
			background-size: 12px 12px;
		    height: 12px;
		    width: 12px;
		}
		&.collapsed{
			background: transparent;
		    &:before{
		    	content: "";
			    background-image: url("../js/angle-up-arrow.svg");
				background-size: 12px 12px;
			    height: 12px;
			    width: 12px;
			    -webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
			}
		}
	}
	.panel-body{
		color: $cl_white;
	    line-height: 25px;
	    border-top: none;
	    padding: 0 10px 0 35px;
	    font-weight: 300;
		background-color: #005cae;
	    border-top: none !important;
	    p{
	    	margin-bottom: 0;
	        font-size: 11px;
	        a{
	        	color: $cl_white;
	        }
	    }
	}
	.collapsing {
	    transition: height 0.5s;
	}
	.panel-w-title a {
	    display: block;
	    font-size: 13px;
	    font-weight: 400;
	    color: #fff;
	    background: transparent;
	    padding: 10px 10px 10px 35px;
	    position: relative;
	    transition: all 0.5s ease 0s;
	    cursor: pointer;
	}
}

