<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    {{>header_white_en}}
    <!-- s:panel -->
    <div id="panel" class="csr__bg">
        <div class="panel__ornament">
            <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--left">
            <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--right">
        </div>
        <div class="container clearfix panel__side align-start">
            <div class="panel__wrapper">
                <div class="panel__content">
                    <div class="notfound">
                        <div class="notfound__wrapper">
                            <h1 class="notfound__big">404</h1>
                            <h3 class="notfound__small">The page you are looking for was not found</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>