<!DOCTYPE html>
<html lang="en">
{{>head page="Karir"}}

<body>

    {{>header_white_en page="Karir"}}
    <!-- s:panel -->
    <div id="panel" class="career__bg">
       <div class="panel__ornament panel__ornament--white">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--left">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--right">
        </div>
        <div class="container">
            <div class="panel__title panel__title--right mt60">
                <h1 class="panel__title__text">Work With KG</h1>
            </div>
        </div>
        <div class="container clearfix panel__side panel__side--small mt0 pt20 align-start">
            <div class="panel__wrapper col-6 mt60">
                <div class="panel__content pd0">
                    <div class="panel__paragraph">
                        <div class="panel__board panel__board--lstripe">
                            <h1 class="panel__board__name">Are you the one we’re looking for?</h1>
                        </div>
                        <p class="career__desc mt40">More than 22,000 of Indonesia’s best have joined the Kompas Gramedia family.</p>
                        <div class="career__btn__wrapper">
                            <div class="career__btn btn--blue" id="career-join">
                                <a href="http://workwithkg.com" target="_blank" class="career__link button" id="contact-submit">Join us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
