<!DOCTYPE html>
<html lang="en">
{{>head page="Tentang KG"}}

<body>

    {{>header_en page="Tentang KG"}}
    <!-- s:panel -->
    <div id="panel" class="ceo__bg">
        <div class="container clearfix panel__side">
            <div class="panel__wrapper text-left col-5">
                <div class="panel__content">
                    <div class="panel__title panel__title--right">
                        <h1 class="panel__title__text">CEO's Message</h1>
                    </div>
                    <div class="panel__paragraph panel__text--lstripe">
                        <div class="panel__text__wrapper pr20">
                            <p class="panel__text">“Kompas Gramedia is a mini Indonesia. Humanitarianism and integrity
                                are key values for all employees,
                                reflected in Kompas Gramedia’s products that contribute to enlightening society. This
                                company will
                                continue to evolve to stay relevant and develop as an asset for the Indonesian people”</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel__wrapper ceo__img col-5">
                <div class="panel__side__img panel__side--ceo">
                    <img src="asset/img/about-liliek-oetama.png" alt="about-liliek-oetama.png">
                    <div class="ceo__img__title hidden">
                        <p class="ceo__img__text">Lilik Oetama <br><small>CEO</small></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>