<!DOCTYPE html>
<html lang="en">
{{>head page="Komunitas"}}

<body>

    {{>header_white_en page="Karir"}}
    <!-- s:panel -->
    <div id="panel" class="minH180">
        <div class="panel__ornament panel__ornament--white">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--left">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--right">
        </div>
        <div class="container community">
            <div class="panel__title panel__title--right">
                <h1 class="panel__title__text title-blue">Communities</h1>
            </div>
            <!-- s:community-->
            <div class="community__wrapper">
                <div class="tabs__container">
                    <ul class="tabs">
                        <!--s:csr tabs filter-->
                        <li class="tabs__list active" id="defaultClick">
                            <div class="hexblue__selector">
                                <div class="hexblue__line"></div>
                                <span class="hexblue__background"></span>
                                <h3 class="hexblue__text">Kg
                                    <br>HOBBIES & PROFESSIONS</h3>
                            </div>
                        </li>
                        <li class="tabs__list">
                            <div class="hexblue__selector">
                                <div class="hexblue__line"></div>
                                <span class="hexblue__background"></span>
                                <h3 class="hexblue__text">Kg
                                    <br>SPORTS</h3>
                            </div>
                        </li>
                        <li class="tabs__list">
                            <div class="hexblue__selector">
                                <div class="hexblue__line"></div>
                                <span class="hexblue__background"></span>
                                <h3 class="hexblue__text">Kg
                                    <br>ART & CULTURE</h3>
                            </div>
                        </li>
                    </ul>
                </div> 
                
                <div class="tabs__content">
                    
                        <li class="active" style="display:block;">
                        <div class="content__wrapper">
                            <div class="tabs__hero">
                                
                                <div class="tabs__hero--slider">
                                    <img src="asset/img/community/hobi-hero.jpg" alt="hobi-hero.jpg">
                                    <img src="asset/img/community/hobi-hero.jpg" alt="hobi-hero.jpg">
                                    <img src="asset/img/community/hobi-hero.jpg" alt="hobi-hero.jpg">
                                    <img src="asset/img/community/hobi-hero.jpg" alt="hobi-hero.jpg">
                                </div>
                                
                            </div>
                            <div class="community__paragraph">
                                <div class="panel__paragraph panel__text--lstripe text-left community__text">
                                    <h3>
                                        1. Sekar Media
                                    </h3>
                                    <p>The community of secretaries from all units at KG is aimed at increasing
                                        knowledge and
                                        competence as well as maintaining relationships and sharing information. There
                                        are various
                                        types of activities, such as comparative studies, debriefings, forums and
                                        others.</p>
                                    <h3>
                                        2. MediArt
                                    </h3>
                                    <p>The MediArt community is a forum in which graphic designers at KG can get
                                        together. Established on
                                        May 31, 1992, the community has become a means of self-actualization for its
                                        members through their
                                        various types of works. The MediArt work program includes creative education in
                                        the form of graphic
                                        training, software training, discussions, competitions, exhibitions and much
                                        more.</p>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="content__wrapper">
                            <div class="tabs__hero">
                                <div class="tabs__hero--slider">
                                    <img src="asset/img/community/olahraga-hero.jpg" alt="olahraga-hero.jpg">
                                    <img src="asset/img/community/olahraga-hero.jpg" alt="olahraga-hero.jpg">
                                    <img src="asset/img/community/olahraga-hero.jpg" alt="olahraga-hero.jpg">
                                    <img src="asset/img/community/olahraga-hero.jpg" alt="olahraga-hero.jpg">
                                </div>
                                <div class="community__paragraph">
                                    <div class="panel__paragraph panel__text--lstripe text-left community__text">
                                        <h3>
                                            1. PORKA KG (Persatuan Olahraga Karyawan Kompas Gramedia)
                                        </h3>
                                        <p>
                                            <b>PORKA KG</b> is a vehicle for employees to channel their sporting hobbies. ,
                                            <b>PORKA KG</b> has
                                            produced many top achievers in the field of sports, in fact there those who
                                            became national
                                            athletes. This community also often holds friendly matches with various
                                            companies or
                                            participates in tournaments with other media companies. In order to support
                                            employees’
                                            sporting activities, Kompas Gramedia also has a sports arena located at the
                                            South Palmerah
                                            office. With facilities such as a jogging track and mini gym, there are 19
                                            sports registered with
                                            PORKA KG:</p>
                                        <ol>
                                            <li>1. Tennis</li>
                                            <li>2. Futsal </li>
                                            <li>3. Volleyball</li>
                                            <li>4. Basketball</li>
                                            <li>5. Aerobics</li>
                                            <li>6. Zumba</li>
                                            <li>7. Table Tennis</li>
                                            <li>8. Badminton</li>
                                            <li>9. KG Fit Camp</li>
                                            <li>10. Yoga</li>
                                            <li>11. KG Cyclist</li>
                                            <li>12. Karate INKAI</li>
                                            <li>13. MBS <em>Bangau Putih</em></li>
                                            <li>14. Kompas Gramedia Adventure</li>
                                            <li>15. <em>KG Pelarian</em></li>
                                            <li>16. Fishing (KOMA-KOMA; Kompas Gramedia Fishing Community)</li>
                                            <li>17. Kompas Gramedia Petanque Club</li>
                                            <li>18. Soccer</li>
                                            <li>19. Pencak Silat martial arts</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="content__wrapper">
                            <div class="tabs__hero">
                                <div class="tabs__hero--slider">
                                    <img src="asset/img/community/seni-hero.jpg" alt="olahraga-hero.jpg">
                                    <img src="asset/img/community/seni-hero.jpg" alt="olahraga-hero.jpg">
                                    <img src="asset/img/community/seni-hero.jpg" alt="olahraga-hero.jpg">
                                    <img src="asset/img/community/seni-hero.jpg" alt="olahraga-hero.jpg">
                                </div>
                                
                            </div>
                            <div class="community__paragraph">
                                <div class="panel__paragraph panel__text--lstripe text-left community__text">
                                    <h3>1. Kompas Gramedia “Shanti Swara” Choir</h3>
                                    <p> KG’s choir community, well known as Shanti <em>Swara</em>. This community
                                        routinely practices and
                                        performs at their units as well as at corporate events. Choir communities also
                                        flourish in KG
                                        units, such as the Kompas Choir, TB Gramedia Choir and Swarna Gita Choir.</p>
                                    <h3>2. Bands</h3>
                                    <p> It turns out that many KG employees have musical talents and end up forming
                                        bands with other
                                        employees. You don’t have to worry about renting a studio to practice because
                                        KG has a music
                                        studio located at Jl. Palmerah Selatan no. 17 Jakarta Selatan. Employees who
                                        wish to practice
                                        can register their band with the KG bands manager. KG employee bands have also
                                        frequently
                                        performed at internal as well as external events.</p>
                                    <h3>3. Traditional Dance</h3>
                                    <p>Kompas Gramedia’s employees, through <em>Bentara Budaya Jakarta</em> (BBJ),
                                        participate
                                        in
                                        traditional performing arts, especially traditional dances. Employees who have
                                        talent in dancing
                                        usually get together and practice at the BBJ every Monday at 5:30pm. There is
                                        also <em>Bentara
                                            Muda</em>, a youth community of cultural art lovers managed by the BBJ.</p>
                                    <h3>4. <em>Karawitan</em> & Puppetry</h3>
                                    <p>Preserving traditional arts in the midst of modernization is not easy. But KG
                                        contributes to
                                        traditional arts, one of which is <em>karawitan</em> arts and puppetry (shadow
                                        puppets
                                        or <em>wayang
                                            kulit</em> ). Located at Rumah Kudus, Bentara Budaya Jakarta, employees who
                                        wish to
                                        practice can
                                        come to BBJ every Friday at 6 pm.</p>
                                </div>
                            </div>
                        </div>
                        </li>
                    
                </div>
            </div>
            <!-- e:community-->
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>