<!DOCTYPE html>
<html lang="en">
{{>head page="Kontribusi Sosial"}}

<body>

    {{>header_white_en page="Dana Kemanusiaan"}}
    <!-- s:panel -->
    <div id="panel" class="pb200">


        <div class="container csr">
            <div class="panel__title panel__title--right">
                <h1 class="panel__title__text title-blue">KOMPAS HUMANITARIAN FUND</h1>
            </div>
        </div>
        <!-- s:csr-->
        <div class="csr__wrapper mt60">
            <div class="csr__logo pb100">
                <img src="asset/img/danakemanusiaan/logo-dkk.jpg" alt="danakemanusiaan/logo-dkk.jpg">
            </div>
            <div class="tabs__hero--slider">
                <img src="asset/img/danakemanusiaan/danakemanusiaan-3.jpg" alt="danakemanusiaan-3.jpg">
            </div>
            <div class="container mt60">
                <div class="panel__paragraph panel__text--lstripe">
                    <div class="panel__text__wrapper panel__text__wrapper--black">
                        <p class="panel__text">Kompas Daily’s concern to people and human values do not only manifest
                            on news. Kompas also cares
                            about people’s misfortunes by initiating a nonprofit organization called Dana Kemanusiaan
                            Kompas
                            (DKK) – Kompas Humanitarian Fund.</p>
                        <p class="panel__text">This philanthropic foundation was established in 1982. DKK accepts donation from Kompas
                            Daily readers
                            and also public in general which is allocated to people in needs.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- e:csr-->
        <div class="csr__bottom"></div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>