<!DOCTYPE html>
<html lang="en">
{{>head page="Kontribusi Sosial"}}

<body>

    {{>header_white_en page="Kontribusi Sosial"}}
    <!-- s:panel -->
    <div id="panel" class="pb200">
        <div class="container csr">
            <div class="panel__title panel__title--right">
                <h1 class="panel__title__text title-blue">CSR</h1>
            </div>
        </div>
        <!-- s:csr-->
        <div class="csr__wrapper">
            <div class="csr__logo">
                <img src="asset/img/csr-logo.png" alt="csr-logo.png">
            </div>
            <h2 class="csr__tagline">Building harmonious and sustainable life</h2>
            <!--s:csr tabs-->
            <div class="csr__tabs">
                <section class="tabs__wrapper">
                    <div class="tabs__container">
                        <ul class="tabs">
                            <!--s:csr tabs filter-->
                            <li class="tabs__list">
                                <div class="hexblue__selector">
                                    <div class="hexblue__line"></div>
                                    <span class="hexblue__background"></span>
                                    <div class="tabs__list__title">
                                        <img src="asset/img/csr/en/csr-nav-1.png" alt="csr-nav-1.png">
                                    </div>
                                </div>
                            </li>
                            <li class="tabs__list">
                                <div class="hexblue__selector">
                                    <div class="hexblue__line"></div>
                                    <span class="hexblue__background"></span>
                                    <div class="tabs__list__title">
                                        <img src="asset/img/csr/en/csr-nav-2.png" alt="csr-nav-2.png">
                                    </div>
                                </div>
                            </li>
                            <li class="tabs__list">
                                <div class="hexblue__selector">
                                    <div class="hexblue__line"></div>
                                    <span class="hexblue__background"></span>
                                    <div class="tabs__list__title">
                                        <img src="asset/img/csr/en/csr-nav-3.png" alt="csr-nav-3.png">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--e:csr tabs filter-->
                    <!--s:csr tabs content-->
                    <ul class="tabs__content">
                        <li class="active">
                            <div class="content__wrapper">
                                <div class="tabs__hero">
                                    <div class="tabs__hero--slider">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                    </div>
                                </div>
                                <div class="tabs__container">
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-3">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/aku-baca-logo.png" alt="aku-baca-logo.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-7">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">Kompas Gramedia launched <em>#AkuBaca</em>
                                                        (#IRead),
                                                        a movement to improve literacy in Indonesia,
                                                        especially in developing society’s interest in reading. Aside
                                                        from encouraging individuals to
                                                        realize the importance of reading as a basic human necessity,
                                                        <em>#AkuBaca</em> also engages in literacy
                                                        campaigns to encourage parents, communities and schools to
                                                        create a conducive educational
                                                        environment for the growth of a reading generation.</p>
                                                    <p class="panel__text">
                                                        Through the <em>Buku Bergerak</em> (Moving Books) program, the
                                                        <em>#AkuBaca</em>
                                                        movement also contributes
                                                        to improving access to reading materials, whereby the <em>#AkuBaca</em>
                                                        team collects book donations
                                                        from the public through <em>ATM Setor Buku</em> (<em>Book
                                                            Deposit ATM</em>), to
                                                        be sent to <em>Taman Bacaan
                                                            Masyarakat</em> (Community Reading Centers) in various
                                                        parts across
                                                        Indonesia.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-3">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/kgm-logo.png" alt="kgm-logo.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-7">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">Part of Kompas Gramedia’s corporate social
                                                        responsibility program for education
                                                        (Educational Inspiration) is in the Kompas <em>Gramedia Muda</em>
                                                        (Young
                                                        Kompas Gramedia) Music
                                                        program. It is a music training program organized by Kompas
                                                        Gramedia in collaboration with
                                                        professional musicians aimed at children in south Palmerah.
                                                    </p>
                                                    <p class="panel__text">
                                                        The children’s participation in non-academic learning
                                                        activities, in this case music, is aimed at
                                                        optimizing their development so that they become more active,
                                                        sharp and creative.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-3">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/english-club-logo.png" alt="english-club-logo.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-7">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">KG English Club is an English language
                                                        educational program provided for free by Kompas
                                                        Gramedia to children living around the area of the head office
                                                        in the south Palmerah area.</p>
                                                    <p class="panel__text">
                                                        The program is implemented in coordination with ELTI Gramedia
                                                        and volunteers comprising
                                                        Kompas Gramedia employees. There are at least 90 children from
                                                        the community who have
                                                        become members of the KG English Club and participate in its
                                                        routine activities, which are
                                                        conducted using a fun and enjoyable approach.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content__wrapper">
                                <div class="tabs__hero">
                                    <div class="tabs__hero--slider">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                    </div>
                                </div>
                                <div class="tabs__container">
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-3">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/kampung-koran_28o6q.png" alt="kampung-koran_28o6q.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-7">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text"><em>Kampung Koran</em> (Newspaper Village)
                                                        emerged as
                                                        part of Kompas Gramedia’s corporate social
                                                        responsibility program, partnering with the <em>Salam Rancage</em>
                                                        community and the residents
                                                        around Kompas Gramedia’s head office in south Palmerah,
                                                        Jakarta. All three work together
                                                        with the main goal of reaching tri-factor harmony, namely
                                                        financial, social and
                                                        environmental.</p>
                                                    <p class="panel__text">
                                                        The <em>Kampung Koran</em> community pioneered various positive
                                                        changes
                                                        around it through
                                                        newspaper wickerwork. Starting from weaving used newspaper into
                                                        handicrafts, the
                                                        community became motivated to actively contribute toward its
                                                        environment, starting with
                                                        their family to the village surroundings.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-3">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/bank-sampah_tl56k.png" alt="bank-sampah_tl56k.png">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-7">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">As part of <em>Kampung Koran</em>’s growth,
                                                        Kompas
                                                        Gramedia together with <em>Salam Rancage</em> and the
                                                        surrounding community founded 3 <em>Bank Sampah</em> (Garbage
                                                        Banks)
                                                        located in three villages.
                                                        They provide economic benefits such as customer savings
                                                        services, social capital growth
                                                        through collaboration and socialization programs among
                                                        residents, as well as improvements
                                                        and conservation of the villages’ environment.</p>
                                                    <p class="panel__text">
                                                        There are at least 200 residents from the surrounding community
                                                        who have become
                                                        customers of <em>Kampung Koran</em>’s Garbage Banks. They have
                                                        contributed to reducing the
                                                        amount of rubbish being thrown out by at least 1 ton per month.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content__wrapper">
                                <div class="tabs__hero">
                                    <div class="tabs__hero--slider">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                        <img src="asset/img/csr/inpirasi-pendidikan-hero.jpg" alt="inpirasi-pendidikan-hero.jpg">
                                    </div>
                                </div>
                                <div class="tabs__container">
                                    <div class="tabs__inline">
                                        <div class="tabs__inline__item col-3">
                                            <div class="tabs__img">
                                                <img src="asset/img/csr/bbj-logo.png" alt="bbj-logo.webp">
                                            </div>
                                        </div>
                                        <div class="tabs__inline__item col-7">
                                            <div class="panel__paragraph panel__text--lstripe">
                                                <div class="panel__text__wrapper panel__text__wrapper--black">
                                                    <p class="panel__text">Founded on Sept. 26, 1982 in Yogyakarta, and
                                                        now established in Jakarta, Surakarta and
                                                        Bali.
                                                        Accommodating to and representing the nation’s cultural
                                                        vehicles from various circles,
                                                        backgrounds and horizons.
                                                        Displaying cultural products that may have been traditions, or
                                                        mass artwork that had been
                                                        popular, and includes new work products that may have had
                                                        difficulties in being showcased.
                                                        More than 100 events held in 4 locations.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--e:csr tabs content-->
                </section>
            </div>
            <!--s:csr tabs-->
        </div>
        <!-- e:csr-->
        <div class="csr__bottom"></div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>