<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    {{>header_white_en page="Bisnis"}}
    <!-- s:panel -->
    <div id="panel">
        <div class="parallax">
            <div class="parallax__slider">
                <div class="parallax__item">
                    <div class="jumbotron" style="background: url('asset/img/edu/edu-slide-1.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.4" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                </div>
                <div class="parallax__item">
                    <div class="jumbotron" style="background: url('asset/img/edu/edu-slide-2.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.3" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                </div>
            </div>
            <div class="parallax__text">
                <div class="panel__title panel__title--right mb50">
                    <h1 class="panel__title__text">Education</h1>
                </div>
                <div class="panel__paragraph panel__text--lstripe text-left mb150">
                    <div class="panel__text__wrapper">
                        <p class="panel__text panel__text--big">Taking part in enlightening Indonesia through <b>3</b> educational institutions and <b>1</b> University</p>
                    </div>
                </div>
            </div>
            <div class="parallax__down"><a class="parallax__btn"><span class="icon-chevron-down"></span></a></div>
        </div>
        <div class="education__bg" id="section-2">
            <div class="panel__ornament">
                <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--left">
                <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--right">
            </div>
            <div class="container business__menu">
                <div class="hexa__gate">
                    <div class="hexa__gate__wrap">
                        <ul class="hexa__gate__menu clearfix" data-type="tabs">
                            <li class="hexa__gate__item">
                                <a href="#diginusa" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/edu/diginusa.png" alt="diginusa.png" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#elti" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/edu/elti.png" alt="elti.png" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#gramedia-academy" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/edu/gramedia-academy.png" alt="gramedia-academy.png" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#umn" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/edu/umn.png" alt="umn.png" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#robolego" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/edu/robolego.png" alt="robolego.png" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="hexa__gate__contents clearfix" id="tabs-content">
                            <li class="hexa__gate__content clearfix" id="diginusa">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png" alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang, Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado, Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika, Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media teknologi untuk proses pembelajaran. Diginusa membuat proses belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank" class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="elti">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png" alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang, Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado, Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika, Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media teknologi untuk proses pembelajaran. Diginusa membuat proses belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank" class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="gramedia-academy">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png" alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang, Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado, Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika, Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media teknologi untuk proses pembelajaran. Diginusa membuat proses belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank" class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="umn">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png" alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang, Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado, Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika, Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media teknologi untuk proses pembelajaran. Diginusa membuat proses belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank" class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="robolego">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/edu/diginusa-big.png" alt="asset/img/edu/diginusa-big.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Diginusa adalah brand baru hasil transformasi dari BSW-Smartschool yang pada awalnya hanya menyediakan kurikulum menjadi saat ini satu paket solusi lengkap untuk pembelajaran dan pengenalan ICT, Sains, dan Bahasa Inggris di tingkat TK, SD, SMP, SMU/K. </p>
                                            <p class="panel__text">Diginusa adalah salah satu lini bisnis di bidang pendidikan yang dikelola oleh PT Bangun Satya Wacana (BSW), melayani sekolah-sekolah di kota/wilayah Pekanbaru, Riau, Medan, Palembang, Bengkulu, Jakarta, Jawa Tengah, Jawa Timur, Kalimantan Barat, Manado, Ambon, Sorong, dan Saumlaki Maluku, untuk pengenalan/pengajaran ICT bagi siswa, upgrading ketrampilan ICT guru-guru sekolah maupun pengadaan sarana penunjang infrastruktur digitalisasi sekolah.</p>
                                            <p class="panel__text">Mulai 2017 Diginusa menambah layanan dengan menyediakan Sumber Belajar Digital untuk mata pelajaran Matematika, Sains (IPA, IPS), Bahasa Inggris yang diambil dari lisensi Young Digital Planet (Finlandia). Sumber belajar digital ini tersedia dalam Bahasa Indonesia dan Bahasa Inggris untuk jenjang SD, SMP, SMU. Sumber belajar ini bisa diadopsi dengan server lokal di sekolah (tanpa koneksi internet) maupun koneksi ke server Diginusa (online).</p>
                                            <p class="panel__text">Diginusa juga melayani berbagai pelatihan untuk meningkatkan ketrampilan guru-guru sekolah dalam memanfaatkan media teknologi untuk proses pembelajaran. Diginusa membuat proses belajar-mengajar menjadi lebih moderen dan kekinian.</p>
                                        </div>
                                    </div>
                                    <a href="http://diginusa.com/digital/" target="_blank" class="hexa__gate__url">diginusa.com/digital</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
