<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    {{>header_white_en page="Bisnis"}}
    <!-- s:panel -->
    <div id="panel">
        <div class="parallax">
            <div class="parallax__slider">
                <div class="parallax__item">
                    <div class="jumbotron" style="background: url('asset/img/hospitality/hospitality-slide-1.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.4" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                </div>
                <div class="parallax__item">
                    <div class="jumbotron" style="background: url('asset/img/hospitality/hospitality-slide-2.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.3" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                </div>
                <div class="parallax__item">
                    <div class="jumbotron" style="background: url('asset/img/hospitality/hospitality-slide-3.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.1" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                </div>
            </div>
            <div class="parallax__text">
                <div class="panel__title panel__title--right mb50">
                    <h1 class="panel__title__text">Hospitality</h1>
                </div>
                <div class="panel__paragraph text-left mb150">
                    <div class="panel__text__wrapper">
                        <p class="panel__text panel__text--big">The delicate touch of Indonesian hospitality offered by more than <b>100</b> hotels throughout Indonesia & Singapore.</p>
                    </div>
                </div>
            </div>
            <div class="parallax__down"><a class="parallax__btn"><span class="icon-chevron-down"></span></a></div>
        </div>
        <div class="hospitality__bg" id="section-2">
            <div class="panel__ornament">
                <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--left">
                <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--right">
            </div>
            <div class="container business__menu">
                <div class="hexa__gate">
                    <div class="hexa__gate__wrap">
                        <ul class="hexa__gate__menu clearfix" data-type="tabs">
                            <li class="hexa__gate__item">
                                <a href="#santika-resorts" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/hospitality/santika-resorts.jpg" alt="santika-resorts.jpg" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#samaya" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/hospitality/samaya.png" alt="samaya.png" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#kayana" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/hospitality/kayana.jpg" alt="kayana.jpg" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#anvaya" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/hospitality/anvaya.jpg" alt="anvaya.jpg" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item">
                                <a href="#santika-premiere" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/hospitality/santika-premiere.jpg" alt="santika-premiere.jpg" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item zonk">
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#santika" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/hospitality/santika.jpg" alt="santika.jpg" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item zonk">
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#amaris" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/hospitality/amaris.jpg" alt="amaris.jpg" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item zonk">
                            </li>
                        </ul>
                        <ul class="hexa__gate__contents clearfix" id="tabs-content">
                            <li class="hexa__gate__content clearfix" id="santika-resorts">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png" alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank" class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="samaya">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png" alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank" class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="kayana">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png" alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank" class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="anvaya">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png" alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank" class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="santika-premiere">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png" alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank" class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="santika">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png" alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank" class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="amaris">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/hospitality/samaya.png" alt="asset/img/hospitality/samaya.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">The Samaya Bali menawarkan pengalaman menginap yang melebihi ekspektasi. Menginap di The Samaya, Anda memiliki pilihan dua lokasi yang indah; lokasi pertama berada di Seminyak di mana Anda dapat memilih lokasi tepi pantai atau vila kami di seberang jalan yang berada di dalam Desa Bali yang tenang dan damai atau permulaan tropis di Sungai Ayung di Ubud. Kami bangga memberikan keramahan Bali yang tak tertandingi dengan pengalaman bersantap yang sesuai, dan sikap 'kami hadir untuk melayani' akan memberi Anda pengalaman menginap yang Anda cari.</p>
                                        </div>
                                    </div>
                                    <a href="http://www.thesamayabali.com/" target="_blank" class="hexa__gate__url">thesamayabali.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
