<!DOCTYPE html>
<html lang="en">
{{>head page=""}}

<body class="bottom__bar--wht">

    {{>header_white_en page=""}}
    <!-- s:panel -->
    <div id="panel" class="search__bg">
        <div class="container clearfix panel__side align-start pt20">
            <div class="panel__wrapper col-7">
                <div class="panel__content">
                    <div class="panel__title panel__title--right">
                        <h1 class="panel__title__text title-blue">Search Result</h1>
                    </div>
                    <div class="search__alert">
                        <p class="search__alert__text">Showing 1-10 of 1234 search result</p>
                    </div>
                    <div class="panel__paragraph panel__text--lstripe text-left search__paragraph">
                        <div class="search">
                            <ul class="search__list">
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">1. SANTIKA INDONESIA WINS AWARD</h3>
                                    </a>
                                    <p class="search__desc">The award was given to L. Sudarsana, general manager of the corporate business development and marketing communications department, as 2018 Marketeer of the Year in Greater Jakarta Marketing Champion program, Tuesday, May 8. The award was presented by the founder and CEO of Markplus Inc., Hermawan Kartajaya.</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">2. 2018 OTOMOTIF AWARDS ‘The Right Choice’</h3>
                                    </a>
                                    <p class="search__desc">The Otomotif Award recognizes brand holder agents in Indonesia, both for motorcycles and cars. With the theme “The Right Choice”, the Otomotif Awards presented the best motorcycles and cars of the year as the right choices for Indonesians who wish to buy new vehicles.</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/forum/showthread.php?15-Disclaimer-Forum-Komunikasi-Karyawan-kompas-Gramedia&s=3c6501e7b362c448e023f0edbc054253&p=41</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">3. Gramedia Writers and Readers Forum 2018 Improve Indonesia’s Literacy</h3>
                                    </a>
                                    <p class="search__desc">Gramedia bekerja sama dengan Badan Ekonomi Kreatif,
                                        Perpustakaan Nasional Republik Indonesia, dan Komite Buku Nasional
                                        menyelenggarakan program inspiratif dan inovatif Gramedia Writers and Readers
                                        Forum (GWRF) 2018, Sabtu–Minggu, 7–8 April di Gedung Perpustakaan Nasional
                                        Republik Indonesia, Medan Merdeka Selatan, Jakarta. </p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">4. SANTIKA INDONESIA WINS AWARD</h3>
                                    </a>
                                    <p class="search__desc">The award was given to L. Sudarsana, general manager of the corporate business development and marketing communications department, as 2018 Marketeer of the Year in Greater Jakarta Marketing Champion program, Tuesday, May 8. The award was presented by the founder and CEO of Markplus Inc., Hermawan Kartajaya.</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">5. 2018 OTOMOTIF AWARDS ‘The Right Choice’</h3>
                                    </a>
                                    <p class="search__desc">The Otomotif Award recognizes brand holder agents in Indonesia, both for motorcycles and cars. With the theme “The Right Choice”, the Otomotif Awards presented the best motorcycles and cars of the year as the right choices for Indonesians who wish to buy new vehicles.</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/forum/showthread.php?15-Disclaimer-Forum-Komunikasi-Karyawan-kompas-Gramedia&s=3c6501e7b362c448e023f0edbc054253&p=41</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">6. Gramedia Writers and Readers Forum 2018 Improve Indonesia’s Literacy</h3>
                                    </a>
                                    <p class="search__desc">Gramedia bekerja sama dengan Badan Ekonomi Kreatif,
                                        Perpustakaan Nasional Republik Indonesia, dan Komite Buku Nasional
                                        menyelenggarakan program inspiratif dan inovatif Gramedia Writers and Readers
                                        Forum (GWRF) 2018, Sabtu–Minggu, 7–8 April di Gedung Perpustakaan Nasional
                                        Republik Indonesia, Medan Merdeka Selatan, Jakarta. </p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">7. SANTIKA INDONESIA WINS AWARD</h3>
                                    </a>
                                    <p class="search__desc">The award was given to L. Sudarsana, general manager of the corporate business development and marketing communications department, as 2018 Marketeer of the Year in Greater Jakarta Marketing Champion program, Tuesday, May 8. The award was presented by the founder and CEO of Markplus Inc., Hermawan Kartajaya.</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">8. 2018 OTOMOTIF AWARDS ‘The Right Choice’</h3>
                                    </a>
                                    <p class="search__desc">The Otomotif Award recognizes brand holder agents in Indonesia, both for motorcycles and cars. With the theme “The Right Choice”, the Otomotif Awards presented the best motorcycles and cars of the year as the right choices for Indonesians who wish to buy new vehicles.</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/forum/showthread.php?15-Disclaimer-Forum-Komunikasi-Karyawan-kompas-Gramedia&s=3c6501e7b362c448e023f0edbc054253&p=41</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">9. Gramedia Writers and Readers Forum 2018 Improve Indonesia’s Literacy</h3>
                                    </a>
                                    <p class="search__desc">Gramedia bekerja sama dengan Badan Ekonomi Kreatif,
                                        Perpustakaan Nasional Republik Indonesia, dan Komite Buku Nasional
                                        menyelenggarakan program inspiratif dan inovatif Gramedia Writers and Readers
                                        Forum (GWRF) 2018, Sabtu–Minggu, 7–8 April di Gedung Perpustakaan Nasional
                                        Republik Indonesia, Medan Merdeka Selatan, Jakarta. </p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                                <li class="search__item">
                                    <a href="read.html" class="search__link">
                                        <h3 class="search__title">10. SANTIKA INDONESIA WINS AWARD</h3>
                                    </a>
                                    <p class="search__desc">The award was given to L. Sudarsana, general manager of the corporate business development and marketing communications department, as 2018 Marketeer of the Year in Greater Jakarta Marketing Champion program, Tuesday, May 8. The award was presented by the founder and CEO of Markplus Inc., Hermawan Kartajaya.</p>
                                    <a href="read.html" class="search__url">http://www.kompasgramedia.com/internet-lounge/read-info-kita/perjalanan-setengah-abad-kompas</a>
                                </li>
                            </ul>
                            {{>pagination_white}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
