<!DOCTYPE html>
<html lang="en">
{{>head page="Info Kita"}}

<body>

    {{>header_white_en page="Ruang Media"}}
    <!-- s:panel -->
    <div id="panel" class="csr__bg">
        <div class="panel__ornament">
            <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--left">
            <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--right">
        </div>
        <div class="container clearfix panel__side align-start">
            <div class="panel__wrapper">
                <div class="panel__content">
                    <div class="panel__title panel__title--right">
                        <h1 class="panel__title__text">infokita</h1>
                        <p>Internal magazine of Kompas Gramedia</p>
                    </div>
                    <!-- s:infokita item-->
                    <div class="card">
                        <ul class="card__wrapper">
                            <li class="card__item">
                                <a href="#" class="card__link">
                                    <div class="card__box" style="background:url('./asset/img/infokita.jpg')">
                                        <span class="card__overlay">download</span>
                                    </div>
                                    <p class="card__title">March 2018</p>
                                </a>
                            </li>
                            <li class="card__item">
                                <a href="#" class="card__link">
                                    <div class="card__box" style="background:url('./asset/img/infokita.jpg')">
                                        <span class="card__overlay">download</span>
                                    </div>
                                    <p class="card__title">April 2018</p>
                                </a>
                            </li>
                            <li class="card__item">
                                <a href="#" class="card__link">
                                    <div class="card__box" style="background:url('./asset/img/infokita.jpg')">
                                        <span class="card__overlay">download</span>
                                    </div>
                                    <p class="card__title">June 2018</p>
                                </a>
                            </li>
                            <li class="card__item">
                                <a href="#" class="card__link">
                                    <div class="card__box" style="background:url('./asset/img/infokita.jpg')">
                                        <span class="card__overlay">download</span>
                                    </div>
                                    <p class="card__title">July 2018</p>
                                </a>
                            </li>
                            <li class="card__item">
                                <a href="#" class="card__link">
                                    <div class="card__box" style="background:url('./asset/img/infokita.jpg')">
                                        <span class="card__overlay">download</span>
                                    </div>
                                    <p class="card__title">March 2018</p>
                                </a>
                            </li>
                            <li class="card__item">
                                <a href="#" class="card__link">
                                    <div class="card__box" style="background:url('./asset/img/infokita.jpg')">
                                        <span class="card__overlay">download</span>
                                    </div>
                                    <p class="card__title">April 2018</p>
                                </a>
                            </li>
                            <li class="card__item">
                                <a href="#" class="card__link">
                                    <div class="card__box" style="background:url('./asset/img/infokita.jpg')">
                                        <span class="card__overlay">download</span>
                                    </div>
                                    <p class="card__title">June 2018</p>
                                </a>
                            </li>
                            <li class="card__item">
                                <a href="#" class="card__link">
                                    <div class="card__box" style="background:url('./asset/img/infokita.jpg')">
                                        <span class="card__overlay">download</span>
                                    </div>
                                    <p class="card__title">July 2018</p>
                                </a>
                            </li>
                        </ul>
                        <!-- cd-popup-container -->
                        <div class="cd-popup" role="alert">
                            <div class="cd-popup-container login__container clearfix">
                                <div class="login__head">
                                    <div class="login__icon">
                                        <img src="asset/img/infokita-user.png" alt="infokita-user.png">
                                    </div>
                                    <h2 class="login__title">download</h2>
                                </div>
                                <div class="login__content">
                                    <div class="login__form">
                                        <input type="input" class="login__input" id="login-nik" placeholder="NIK">
                                        <input type="password" class="login__input" id="login-pass" placeholder="Password">
                                    </div>
                                    <div class="login__button">
                                        <div class="login__btn">
                                            <a class="login__click" id="login-in" href="#0">download</a>
                                        </div>

                                    </div>
                                </div>
                                <a href="#0" class="cd-popup-close img-replace"></a>
                            </div>
                            <!-- cd-popup-container -->
                        </div>
                        <!-- cd-popup -->
                    </div>
                    <!-- e:infokita item-->
                    {{>pagination}}
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>