<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    {{>header_white_en page="Tentang KG"}}
    <!-- s:panel -->
    <div id="panel">
        <div class="panel__ornament panel__ornament--white">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--left">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--right">
        </div>
        <div class="container clearfix pt20">
            <div class="panel__wrapper">
                <div class="panel__content">
                    <div class="panel__title panel__title--right">
                        <h1 class="panel__title__text title-blue">Our Management</h1>
                    </div>
                </div>
            </div>
            <div class="panel__wrapper">
                <div class="management__slider__item">
                    <div class="management__slider--side">
                        <div class="management__slider__content col-6 pl20">
                            <div class="panel__board">
                                <h2 class="panel__board__name">Founders</h2>
                            </div>
                            <div class="panel__text__wrapper panel__text__wrapper--black">
                                <div class="panel__subtitle">
                                    <h3 class="panel__founders">
                                        Jakob Oetama
                                    </h3>
                                    <p class="panel__founders__job">President Commisioner</p>
                                </div>
                                <p class="panel__text">
                                    Jakob Oetama was a teacher, journalist and editor at Penabur magazine. The social
                                    communication expert, together with PK Ojong, published Intisari Magazine and
                                    developed the media enterprise now known as Kompas Gramedia.</p>
                                <div class="panel__subtitle">
                                    <h3 class="panel__founders pl20">
                                        <span class="dggr dggr--black">(†)</span>Petrus Kanisius Ojong
                                    </h3>
                                    <p class="panel__founders__job">Founder</p>
                                </div>
                                <p class="panel__text">
                                    PK Ojong started his career as a teacher, became a principal, then a journalist for
                                    Star Weekly &amp;
                                    Kengpo. He is also a legal expert, who collaborated with Jakob Oetama to publish
                                    Intisari
                                    Magazine in 1963, in response to the nation’s longing for quality publications.
                                </p>
                            </div>
                        </div>
                        <div class="management__slider__content col-4">
                            <div class="management__founder">
                                <div class="panel__side__img">
                                    <img src="asset/img/founders.png" alt="founders.png">
                                </div>
                                <div class="management__founder__title jacob">
                                    <p class="management__founder__text">Jakob Oetama</p>
                                </div>
                                <div class="management__founder__title ojong">
                                    <p class="management__founder__text">
                                        <span class="dggr">(†)</span>Petrus Kanisius Ojong</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="management__slider__item">
<!--
                    <div class="management__wrapper pl20">
                        <div class="panel__board">
                            <h2 class="panel__board__name">Chief Executive Officer</h2>
                        </div>
                        <div class="tooltip">
                            <div class="tooltip__wrapper">
                                <div class="tooltip__item">
                                    <div class="tooltip__img liliek">
                                        <img src="asset/img/management/lilik.png" alt="lilik.png">
                                        <div class="tooltip__content tooltip__ceo--1">
                                            <div class="tooltip__line"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Lilik Oetama</div>
                                            <div class="tooltip__text">CEO of Kompas Gramedia</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip__item">
                                    <div class="tooltip__img jayant">
                                        <img src="asset/img/management/jayant.png" alt="jayant.png">
                                        <div class="tooltip__content tooltip__ceo--2">
                                            <div class="tooltip__line"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Jayant Bhargava</div>
                                            <div class="tooltip__text">Vice CEO of Kompas Gramedia</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
-->
                    <div class="management__wrapper pl20">
                        <div class="panel__board">
                            <h2 class="panel__board__name">Business Unit Directors</h2>
                        </div>
                        <div class="tooltip">
                            <div class="tooltip__wrapper tooltip__wrapper--top tooltip__wrapper--x">
                                <div class="tooltip__item">
                                    <div class="tooltip__img y-priyo">
                                        <img src="asset/img/management/y-priyo.png" alt="y-priyo.png">
                                        <div class="tooltip__content tooltip__bud--1">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Y.Priyo Utomo</div>
                                            <div class="tooltip__text">CEO of Group of Retail &amp; Publishing</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip__item">
                                    <div class="tooltip__img rudi">
                                        <img src="asset/img/management/rudi.png" alt="rudi.png">
                                        <div class="tooltip__content tooltip__bud--9">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Rudi Hartono</div>
                                            <div class="tooltip__text">Property & Infrastructure Group Director</div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="tooltip__item tooltip__item--abs tooltip__item--andi">
                                    <div class="tooltip__img andi-budiman">
                                        <img src="asset/img/management/andi-budiman.png" alt="andi-budiman.png">
                                        <div class="tooltip__content tooltip__bud--2">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Andy Budiman</div>
                                            <div class="tooltip__text">CEO of Group of Media</div>
                                        </div>
                                    </div>
                                </div><div class="tooltip__item tooltip__item--abs tooltip__item--adrian">
                                    <div class="tooltip__img adrian">
                                        <img src="asset/img/management/adrian.png" alt="adrian.png">
                                        <div class="tooltip__content tooltip__bud--4">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Adrian Sebastian Herlambang</div>
                                            <div class="tooltip__text">President Director of PT Dyandra Media International Tbk</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip__item">
                                    <div class="tooltip__img johanes-widjaja">
                                        <img src="asset/img/management/johanes-widjaja.png" alt="johanes-widjaja.png">
                                        <div class="tooltip__content tooltip__bud--5">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Johanes Widjaja</div>
                                            <div class="tooltip__text">Hotel &amp; Resort Group Director</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip__item">
                                    <div class="tooltip__img ninok-leksono">
                                        <img src="asset/img/management/ninok-leksono.png" alt="ninok-leksono.png">
                                        <div class="tooltip__content tooltip__bud--7">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Ninok Leksono</div>
                                            <div class="tooltip__text">Rector of Multimedia Nusantara University</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip__item tooltip__item--abs tooltip__item--hari">
                                    <div class="tooltip__img hari">
                                        <img src="asset/img/management/hari.png" alt="hari.png">
                                        <div class="tooltip__content tooltip__bud--8">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Hari Susanto S.</div>
                                            <div class="tooltip__text">Manufacture Group Director </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="management__wrapper pl20">
                        <div class="panel__board">
                            <h2 class="panel__board__name">Functional Unit Directors</h2>
                        </div>
                        <div class="tooltip tooltip--FUD">
                            <div class="tooltip__wrapper tooltip__wrapper--top tooltip__wrapper--fud">
<!--
                                <div class="tooltip__item">
                                    <div class="tooltip__img royanto">
                                        <img src="asset/img/management/royanto.png" alt="royanto.png">
                                        <div class="tooltip__content tooltip__fud--1">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">R. Royanto</div>
                                            <div class="tooltip__text">Corporate Facility Management Director</div>
                                        </div>
                                    </div>
                                </div>
-->
                                <div class="tooltip__item tooltip__item--abs tooltip__item--ign">
                                    <div class="tooltip__img ign-hardanto">
                                        <img src="asset/img/management/ign-hardanto.png" alt="ign-hardanto.png">
                                        <div class="tooltip__content tooltip__fud--2">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Ign. Hardanto Subagyo</div>
                                            <div class="tooltip__text">Corporate IT &amp; IS Director</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip__item">
                                    <div class="tooltip__img sigit">
                                        <img src="asset/img/management/sigit.png" alt="sigit.png">
                                        <div class="tooltip__content tooltip__fud--3">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">B.Sigit Suryanto</div>
                                            <div class="tooltip__text">Corporate Human Resources Director</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tooltip__item tooltip__item--abs tooltip__item--marcela">
                                    <div class="tooltip__img marcela">
                                        <img src="asset/img/management/marcela.png" alt="marcela.png">
                                        <div class="tooltip__content tooltip__fud--4">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Marcella Lestari</div>
                                            <div class="tooltip__text">Corporate Finance &amp; Legal Director</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip__item">
                                    <div class="tooltip__img rusdi">
                                        <img src="asset/img/management/rusdi-amral.png" alt="rusdi-amral.png">
                                        <div class="tooltip__content tooltip__fud--5">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Rusdi Amral</div>
                                            <div class="tooltip__text">Corporate Communication Director</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip__item tooltip__item--abs tooltip__item--johanes">
                                    <div class="tooltip__img thomas">
                                        <img src="asset/img/management/thomas.png" alt="thomas.png">
                                        <div class="tooltip__content tooltip__fud--6">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Thomas Athanasius</div>
                                            <div class="tooltip__text">Corporate Secretary</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip__item">
                                    <div class="tooltip__img johanes">
                                        <img src="asset/img/management/johanes.png" alt="johanes.png">
                                        <div class="tooltip__content tooltip__fud--7">
                                            <div class="tooltip__line tooltip__line--v"></div>
                                            <div class="tooltip__circle"></div>
                                            <div class="tooltip__heading">Johanes Latief S.</div>
                                            <div class="tooltip__text">Corporate Comptroller Director</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>