<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    {{>header_white_en page="Bisnis"}}
    <!-- s:panel -->
    <div id="panel">
        <div class="parallax">
            <div class="parallax__slider">
                <div class="parallax__item">
                    <div class="jumbotron" style="background: url('asset/img/manufacture/manufacture-slide-1.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.4" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                </div>
                <div class="parallax__item">
                    <div class="jumbotron" style="background: url('asset/img/manufacture/manufacture-slide-2.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.3" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                </div>
                <div class="parallax__item">
                    <div class="jumbotron" style="background: url('asset/img/manufacture/manufacture-slide-3.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.1" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                </div>
            </div>
            <div class="parallax__text">
                <div class="panel__title panel__title--right mb50">
                    <h1 class="panel__title__text">Manufacture</h1>
                </div>
                <div class="panel__paragraph panel__text--lstripe text-left mb150">
                    <div class="panel__text__wrapper">
                        <p class="panel__text panel__text--big">An industry covering more than <b>7</b> units of printing and <b>3</b> units of packaging printing always provide the best service for customers’ satisfaction</p>
                    </div>
                </div>
            </div>
            <div class="parallax__down"><a class="parallax__btn"><span class="icon-chevron-down"></span></a></div>
        </div>
        <div class="manufacture__bg" id="section-2">
            <div class="panel__ornament">
                <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--left">
                <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--right">
            </div>
            <div class="container business__menu">                
                <div class="hexa__gate">
                    <div class="hexa__gate__wrap">
                        <ul class="hexa__gate__menu clearfix" data-type="tabs">
                            <li class="hexa__gate__item">
                                <a href="#gramedia-printing" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/manufacture/gramedia-printing.jpg" alt="gramedia-printing.jpg" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="hexa__gate__item top">
                                <a href="#metaform" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/manufacture/metaform.png" alt="metaform.png" class="hexa__gate__img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="hexa__gate__contents clearfix" id="tabs-content">
                            <li class="hexa__gate__content clearfix" id="gramedia-printing">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/manufacture/metaform.png" alt="asset/img/manufacture/metaform.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Transformasi Group of Manufacture dimulai pada tahun 2010, ketika Gramedia Printing mulai melayani pencetakan produk kemasan dengan nama Metaform, yang terdiri dari tiga brand yaitu Metafold (paper packaging), Metaflex (flexibel packaging), dan Metamark (label).</p>
                                        </div>
                                    </div>
                                    <a href="http://metaform.co.id" target="_blank" class="hexa__gate__url">metaform.co.id</a>
                                </div>
                            </li>
                            <li class="hexa__gate__content clearfix" id="metaform">
                                <div class="hexa__gate__desc">
                                    <div class="hexa__gate__icon"><img src="asset/img/manufacture/metaform.png" alt="asset/img/manufacture/metaform.png"></div>
                                    <div class="panel__paragraph panel__text--cstripe text-left">
                                        <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                            <p class="panel__text">Transformasi Group of Manufacture dimulai pada tahun 2010, ketika Gramedia Printing mulai melayani pencetakan produk kemasan dengan nama Metaform, yang terdiri dari tiga brand yaitu Metafold (paper packaging), Metaflex (flexibel packaging), dan Metamark (label).</p>
                                        </div>
                                    </div>
                                    <a href="http://metaform.co.id" target="_blank" class="hexa__gate__url">metaform.co.id</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
