<!DOCTYPE html>
<html lang="en">
{{>head page="Ruang Media"}}

<body>

    {{>header_white_en page="Ruang Media"}}
    <!-- s:panel -->
    <div id="panel" class="news__bg">
        <div class="panel__ornament panel__ornament--news panel__ornament--news">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--left">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--right">
        </div>
        <div class="news__banner"></div>
        <div class="container clearfix panel__side news__wrapper align-start">
            <div class="panel__wrapper col-7">
                <div class="panel__content">
                    <div class="panel__title panel__title--right">
                        <h1 class="panel__title__text title-blue">News</h1>
                    </div>
                    <div class="panel__paragraph panel__text--lstripe text-left mt40">
                        <div class="news">
                            <ul class="news__list">
                                <li class="news__item">
                                    <a href="read.html" class="news__link">
                                        <h3 class="news__title">SANTIKA INDONESIA WINS AWARD</h3>
                                    </a>
                                    <p class="news__date">Tuesday, May 8 2018</p>
                                    <p class="news__desc">The award was given to L. Sudarsana, general manager of the corporate business development and marketing communications department, as 2018 Marketeer of the Year in Greater Jakarta Marketing Champion program, Tuesday, May 8. The award was presented by the founder and CEO of Markplus Inc., Hermawan Kartajaya.</p>
                                </li>
                                <li class="news__item">
                                    <a href="read.html" class="news__link">
                                        <h3 class="news__title">2018 OTOMOTIF AWARDS ‘The Right Choice’</h3>
                                    </a>
                                    <p class="news__date">Tuesday, May 8 2018</p>
                                    <p class="news__desc">The Otomotif Award recognizes brand holder agents in Indonesia, both for motorcycles and cars. With the theme “The Right Choice”, the Otomotif Awards presented the best motorcycles and cars of the year as the right choices for Indonesians who wish to buy new vehicles.</p>
                                </li>
                                <li class="news__item">
                                    <a href="read.html" class="news__link">
                                        <h3 class="news__title">Gramedia Writers and Readers Forum 2018 Improve Indonesia’s Literacy</h3>
                                    </a>
                                    <p class="news__date">Tuesday, May 8 2018</p>
                                    <p class="news__desc">Gramedia bekerja sama dengan Badan Ekonomi Kreatif,
                                        Perpustakaan Nasional Republik Indonesia, dan Komite Buku Nasional
                                        menyelenggarakan program inspiratif dan inovatif Gramedia Writers and Readers
                                        Forum (GWRF) 2018, Sabtu–Minggu, 7–8 April di Gedung Perpustakaan Nasional
                                        Republik Indonesia, Medan Merdeka Selatan, Jakarta. </p>
                                </li>
                                <li class="news__item">
                                    <a href="read.html" class="news__link">
                                        <h3 class="news__title">SANTIKA INDONESIA WINS AWARD</h3>
                                    </a>
                                    <p class="news__date">Tuesday, May 8 2018</p>
                                    <p class="news__desc">The award was given to L. Sudarsana, general manager of the corporate business development and marketing communications department, as 2018 Marketeer of the Year in Greater Jakarta Marketing Champion program, Tuesday, May 8. The award was presented by the founder and CEO of Markplus Inc., Hermawan Kartajaya.</p>
                                </li>
                                <li class="news__item">
                                    <a href="read.html" class="news__link">
                                        <h3 class="news__title">2018 OTOMOTIF AWARDS ‘The Right Choice’</h3>
                                    </a>
                                    <p class="news__date">Tuesday, May 8 2018</p>
                                    <p class="news__desc">The Otomotif Award recognizes brand holder agents in Indonesia, both for motorcycles and cars. With the theme “The Right Choice”, the Otomotif Awards presented the best motorcycles and cars of the year as the right choices for Indonesians who wish to buy new vehicles.</p>
                                </li>
                                <li class="news__item">
                                    <a href="read.html" class="news__link">
                                        <h3 class="news__title">Gramedia Writers and Readers Forum 2018 Improve Indonesia’s Literacy</h3>
                                    </a>
                                    <p class="news__date">Tuesday, May 8 2018</p>
                                    <p class="news__desc">Gramedia bekerja sama dengan Badan Ekonomi Kreatif,
                                        Perpustakaan Nasional Republik Indonesia, dan Komite Buku Nasional
                                        menyelenggarakan program inspiratif dan inovatif Gramedia Writers and Readers
                                        Forum (GWRF) 2018, Sabtu–Minggu, 7–8 April di Gedung Perpustakaan Nasional
                                        Republik Indonesia, Medan Merdeka Selatan, Jakarta. </p>
                                </li>
                                <li class="news__item">
                                    <a href="read.html" class="news__link">
                                        <h3 class="news__title">SANTIKA INDONESIA WINS AWARD</h3>
                                    </a>
                                    <p class="news__date">Tuesday, May 8 2018</p>
                                    <p class="news__desc">The award was given to L. Sudarsana, general manager of the corporate business development and marketing communications department, as 2018 Marketeer of the Year in Greater Jakarta Marketing Champion program, Tuesday, May 8. The award was presented by the founder and CEO of Markplus Inc., Hermawan Kartajaya.</p>
                                </li>
                                <li class="news__item">
                                    <a href="read.html" class="news__link">
                                        <h3 class="news__title">2018 OTOMOTIF AWARDS ‘The Right Choice’</h3>
                                    </a>
                                    <p class="news__date">Tuesday, May 8 2018</p>
                                    <p class="news__desc">The Otomotif Award recognizes brand holder agents in Indonesia, both for motorcycles and cars. With the theme “The Right Choice”, the Otomotif Awards presented the best motorcycles and cars of the year as the right choices for Indonesians who wish to buy new vehicles.</p>
                                </li>
                                <li class="news__item">
                                    <a href="read.html" class="news__link">
                                        <h3 class="news__title">Gramedia Writers and Readers Forum 2018 Improve Indonesia’s Literacy</h3>
                                    </a>
                                    <p class="news__date">Tuesday, May 8 2018</p>
                                    <p class="news__desc">Gramedia bekerja sama dengan Badan Ekonomi Kreatif,
                                        Perpustakaan Nasional Republik Indonesia, dan Komite Buku Nasional
                                        menyelenggarakan program inspiratif dan inovatif Gramedia Writers and Readers
                                        Forum (GWRF) 2018, Sabtu–Minggu, 7–8 April di Gedung Perpustakaan Nasional
                                        Republik Indonesia, Medan Merdeka Selatan, Jakarta. </p>
                                </li>
                            </ul>
                            {{>pagination_white}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>