<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>header_white_en page="Bisnis"}}
    <!-- s:panel -->
    <div id="panel">
        <div class="business">
            <div class="parallax">
                <div class="parallax__slider">
                    <div class="parallax__item">
                        <div class="jumbotron" style="background: url('asset/img/property/1.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.4" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                    </div>
                    <div class="parallax__item">
                        <div class="jumbotron" style="background: url('asset/img/property/2.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.3" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                    </div>
                    <div class="parallax__item">
                        <div class="jumbotron" style="background: url('asset/img/property/3.jpg') no-repeat center; background-size: cover;" data-paroller-factor="0.1" data-paroller-factor-xs="0.2" data-paroller-type="background" data-paroller-direction="vertical"></div>
                    </div>
                </div>
                <div class="parallax__text">
                    <div class="panel__title panel__title--right mb50">
                        <h1 class="panel__title__text">Property & Infrastructure</h1>
                    </div>
                    <div class="panel__paragraph panel__text--lstripe text-left mb150">
                        <div class="panel__text__wrapper">
                            <p class="panel__text panel__text--big">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, temporibus, non sunt aliquam perferendis blanditiis eos ducimus fuga error nobis iure neque consequatur iusto repudiandae earum reiciendis animi atque exercitationem.</p>
                        </div>
                    </div>
                </div>
                <div class="parallax__down"><a class="parallax__btn"><span class="icon-chevron-down"></span></a></div>
            </div>
            <div class="property__bg" id="section-2">
                <div class="panel__ornament">
                    <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--left">
                    <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--right">
                </div>
                <div class="container business__menu">
                    <div class="business__tabs hexa__gate">
                        <div class="hexa__gate__wrap">
                            <ul class="hexa__gate__menu clearfix" data-type="tabs">
                                <li class="hexa__gate__item">
                                   <a href="#dyandra" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/event/dyandra.png" alt="dyandra.png" class="hexa__gate__img">
                                        </div>
                                    </div>
                                    </a>
                                </li>
                                <li class="hexa__gate__item top">
                                   <a href="#medialand" class="hexa__gate__link">
                                    <div class="front">
                                        <div class="hexa__gate__logo">
                                            <img src="asset/img/event/medialand.png" alt="medialand.png" class="hexa__gate__img">
                                        </div>
                                    </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="hexa__gate__contents clearfix" id="tabs-content">
                                <li class="hexa__gate__content clearfix" id="dyandra">
                                    <div class="hexa__gate__desc">
                                        <div class="hexa__gate__icon"><img src="asset/img/event/dyandra.png" alt="asset/img/event/dyandra.png"></div>
                                        <div class="panel__paragraph panel__text--cstripe text-left">
                                            <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                                <p class="panel__text">Dyandra Promosindo merupakan Proffesional Exhibition Organizer (PEO) yang berdiri sejak tahun 1994 dan merupakan anak perusahaan dari PT Dyandra Media International, Tbk. Dalam kurun waktu tersebut, Dyandra Promosindo berhasil mencetak rekam jejak pameran yang mengesankan di seluruh Indonesia. Dyandra Promosindo telah menggelar lebih dari 900 pameran di Jakarta, Surabaya, Yogyakarta, Bali, Makassar, Medan dan berbagai kota besar lain di Indonesia. Dengan lebih dari 1.000 peserta pameran setiap tahun, termasuk peserta dari luar negeri, Dyandra telah membuktikan diri sebagai rekan bisnis terpercaya sambil terus meningkatkan diri menuju budaya pameran yang lebih baik di Indonesia. Berbagai pameran yang telah digelar antara lain pameran B2B, pameran B2C, konser musik, konferensi dan summit.</p>
                                                <p class="panel__text">Dyandra Promosindo adalah perusahaan pameran pertama di Indonesia yang memiliki sertifikasi ISO 9001:2008 untuk sistem kualitas manajemen. Beberapa pameran yang akan dihadirkan di Indonesia antara lain: Indonesia International Motor Show, Indonesia International Furniture Expo, Indonesian Petroleum Association Convex, Indonesia E-Commerce Summit & Expo, International Franchise, License and Business Concept Expo & Conference, Garuda Indonesia Travel Fair, Kompas Travel Fair, Synchronize Festival dan lain-lain.</p>
                                            </div>
                                        </div>
                                        <a href="https://www.dyandramedia.com/" target="_blank" class="hexa__gate__url">dyandramedia.com</a>
                                    </div>
                                </li>
                                <li class="hexa__gate__content clearfix" id="medialand">
                                    <div class="hexa__gate__desc">
                                        <div class="hexa__gate__icon"><img src="asset/img/event/dyandra.png" alt="asset/img/event/dyandra.png"></div>
                                        <div class="panel__paragraph panel__text--cstripe text-left">
                                            <div class="panel__text__wrapper panel__text__wrapper--black scrollbar-inner">
                                                <p class="panel__text">Dyandra Promosindo merupakan Proffesional Exhibition Organizer (PEO) yang berdiri sejak tahun 1994 dan merupakan anak perusahaan dari PT Dyandra Media International, Tbk. Dalam kurun waktu tersebut, Dyandra Promosindo berhasil mencetak rekam jejak pameran yang mengesankan di seluruh Indonesia. Dyandra Promosindo telah menggelar lebih dari 900 pameran di Jakarta, Surabaya, Yogyakarta, Bali, Makassar, Medan dan berbagai kota besar lain di Indonesia. Dengan lebih dari 1.000 peserta pameran setiap tahun, termasuk peserta dari luar negeri, Dyandra telah membuktikan diri sebagai rekan bisnis terpercaya sambil terus meningkatkan diri menuju budaya pameran yang lebih baik di Indonesia. Berbagai pameran yang telah digelar antara lain pameran B2B, pameran B2C, konser musik, konferensi dan summit.</p>
                                                <p class="panel__text">Dyandra Promosindo adalah perusahaan pameran pertama di Indonesia yang memiliki sertifikasi ISO 9001:2008 untuk sistem kualitas manajemen. Beberapa pameran yang akan dihadirkan di Indonesia antara lain: Indonesia International Motor Show, Indonesia International Furniture Expo, Indonesian Petroleum Association Convex, Indonesia E-Commerce Summit & Expo, International Franchise, License and Business Concept Expo & Conference, Garuda Indonesia Travel Fair, Kompas Travel Fair, Synchronize Festival dan lain-lain.</p>
                                            </div>
                                        </div>
                                        <a href="https://www.dyandramedia.com/" target="_blank" class="hexa__gate__url">dyandramedia.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
