<!DOCTYPE html>
<html lang="en">
{{>head page="Ruang Media"}}

<body>

    {{>header_white_en page="Ruang Media"}}
    <!-- s:panel -->
    <div id="panel" class="news__bg">
        <div class="panel__ornament panel__ornament--white panel__ornament--news">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--left">
            <img src="asset/img/bg-ornament-2.png" alt="bg-ornament-2.png" class="panel__ornament--right">
        </div>
        <div class="container clearfix panel__side pt20 align-start">
            <div class="panel__wrapper">
                <div class="panel__content">
                    <div class="read read--news">
                        <div class="read__head">
                            <h2 for="" class="read__date">Tuesday, May 8 2018</h2>
                            <h1 class="read__title">SANTIKA INDONESIA WINS AWARD</h1>
                        </div>
                        <div class="read__hero">
                            <div class="read__image">
                                <img src="asset/img/read-hero.jpg" alt="">
                            </div>
                            <h2 class="read__caption text-right" for="">Doc. Hotel Santika</h2>
                        </div>
                        <div class="read__content">
                            <ul class="share">
                                <li class="share__item twitter">
                                    <a href="#" class="share__link">
                                        <span class="icon-twitter"></span>
                                    </a>
                                </li>
                                <li class="share__item facebook">
                                    <a href="#" class="share__link">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </li>
                                <li class="share__item google-plus">
                                    <a href="#" class="share__link">
                                        <span class="icon-google-plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="read__paragraph">
                            <p >Satu lagi pencapaian diraih oleh Santika Indonesia Hotels and Resorts, kali ini diberikan oleh
                                Markplus, Inc., konsultan profesional bidang pemasaran, riset, pendidikan, dan komunitas
                                media.</p>
                            <p>Penghargaan diserahkan kepada GM Corporate Business Development and Marketing Communication Department
                                L. Sudarsana sebagai 2018 Marketeer of The Year in Hospitality Industry dalam program Jabodetabek
                                Marketing Champion 2018, Selasa, 8 Mei. Penghargaan diserahkan langsung oleh Hermawan Kartajaya,
                                Pendiri dan CEO Markplus, Inc.</p>
                            <p>“Penghargaan ini diberikan kepada individu yang dari kacamata pemasaran dianggap berhasil membuat
                                perubahan. Inilah pengakuan kepada marketer lokal yang tidak hanya sukses dalam bidang marketing,
                                tapi juga memberikan efek positif bagi masyarakat banyak,” ucap Corporate Communication Markplus,
                                Inc. Jaka Perdana.</p>
                            <p>Sudarsana terpilih sebagai Marketeer of The Year dalam bidang Hospitality Industry untuk penggunaan
                                media marketing yang lebih beragam dibandingkan dengan merek jasa hotel lainnya. Selain itu
                                pertumbuhan cabang Hotel Santika dan Amaris Hotel yang signifikan di Indonesia dari tahun
                                2017 menunjukkan pendekatan yang serius untuk pemasaran merek yang tepat sasaran, sehingga
                                banyak investor yang tertarik untuk ikut bermitra bersama Santika Indonesia. Sudarsana sendiri
                                menyatakan bahwa Santika Indonesia akan lebih agresif melakukan pemasaran dan juga event.</p>
                            <p>Pada semester pertama 2018 Santika Indonesia Hotels and Resorts telah membuka Hotel Santika Sukabumi,
                                Hotel Santika Premiere Palembang, dan Hotel Santika Premiere Ambon. Rencana pada semester
                                kedua nanti Santika Indonesia akan membuka dua Hotel Santika berbintang 3, dua Amaris Hotel,
                                dan satu Boutique Villa. Sebuah merek baru juga akan diluncurkan di pertengahan tahun ini
                                sebagai hotel yang mengusung jargon “Crafted for You”, yang akan membuat tamu menginap merasa
                                berada di hotel yang dirancang khusus untuk mereka.</p>
                        </div>
                        <div class="read__content">
                            <h2 for="" class="read__intro">Prita Gero/Corporate Public Relations Coordinator Santika Indonesia Hotels & Resorts</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>