<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>header_white_en page=""}}
    <!-- s:panel -->
    <div id="panel" class="sitemap business__bg">
       <div class="panel__ornament">
            <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--left">
            <img src="asset/img/bg-ornament.png" alt="bg-ornament.png" class="panel__ornament--right">
        </div>
        <div class="container">
            <div class="panel__wrapper text-left">
                <div class="sitemap__title">
                    <h2 class="sitemap__title__text">site map kompas gramedia</h2>
                </div>
            </div>
        </div>
        <div class="container clearfix">
            <div class="panel__wrapper col-7">
                <div class="sitemap__wrapper">
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="ceo.html">About</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="ceo.html">CEO Message</a></p>
                                <p class="sitemap__paragraph col-5"></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="vision-mission.html">Vision and Mission</a></</p>
                                <p class="sitemap__paragraph col-5"></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="history.html">History</a></p>
                                <p class="sitemap__paragraph col-5"></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="management.html">Our Management</a></p>
                                <p class="sitemap__paragraph col-5"><a href="management.html">Founders</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="management.html">KG Management (BOD)</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="business.html">Business</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="media.html">Media</a></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">National News</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">Regional News</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">Entertainment News</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">Radio Broadcast</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"></p>
                                <p class="sitemap__paragraph col-5"><a href="media.html">Media Services</a></p>
                            </div>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="rnp.html">Retail and Publishing</a></p>
                                <p class="sitemap__paragraph col-5"><a href="rnp.html">Brands (Gramedia, Gramedia Kids, etc)</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="hospitality.html">Hospitality</a></p>
                                <p class="sitemap__paragraph col-5"><a href="hospitality.html">Brands (Santika, Amaris, etc)</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="manufacture.html">Manufacture</a></p>
                                <p class="sitemap__paragraph col-5"><a href="manufacture.html">Brands (Gramedia Printing, Metaform, etc)</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="education.html">Education</a></p>
                                <p class="sitemap__paragraph col-5"><a href="education.html">Brands (UMN, Diginusa, etc)</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="event.html">Event and Venue</a></p>
                                <p class="sitemap__paragraph col-5"><a href="event.html">Brands (Dyandra, Medialand)</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="csr.html">CSR</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Inspirasi Lingkungan</a></p>
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Kampung Koran, Bank Sampah</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Inspirasi Pendidikan</a></p>
                                <p class="sitemap__paragraph col-5"><a href="csr.html">AkuBaca, KG English Club, KGM</a></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Inspirasi Budaya</a></p>
                                <p class="sitemap__paragraph col-5"><a href="csr.html">Bentara Budaya</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="news.html">Media Room</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="news.html">News</a></p>
                                <p class="sitemap__paragraph col-5"></p>
                            </div>
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="infokita.html">Lounge</a></p>
                                <p class="sitemap__paragraph col-5"><a href="infokita.html">Infokita</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="career.html">Career</a>
                            </h3>
                        </div>
                        <div class="sitemap__content">
                            <div class="sitemap__item">
                                <p class="sitemap__paragraph col-5"><a href="career.html">Work With KG</a></p>
                                <p class="sitemap__paragraph col-5"><a href="community.html">Community</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sitemap__list">
                        <div class="sitemap__head">
                            <h3 class="sitemap__head__text"><a href="contact.html">Contact Us</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>
