<!DOCTYPE html>
<html lang="en">
{{>head page="Vision, mission, and value"}}

<body>

    {{>header_en page="Tentang KG"}}
    <!-- s:panel -->
    <div id="panel" class="vision__bg">
        <div class="container clearfix panel__side">
            <div class="panel__wrapper">
                <div class="panel__content">
                    <div class="panel__title panel__title--right">
                        <h1 class="panel__title__text">vision and mission</h1>
                    </div>
                    <div class="panel__paragraph panel__text--lstripe">
                        <div class="panel__text__wrapper">
                            <p class="panel__text panel__text--big">To become the largest, best, most integrated and
                                expansive company in Southeast Asia through
                                knowledge-based activities that create an educated and enlightened society that
                                appreciates diversity,
                                justice and prosperity.</p>
                        </div>
                    </div>
                    <div class="panel__img">
                        <img src="asset/img/vision-kg.png" alt="vision-kg.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e:panel -->
    {{>footer}} {{>script}}
</body>

</html>