<div class="about" id="about">
    <div class="container clearfix about__wrapper">
        <div class="about__content static__content">
            <h2 class="static__title static__title--white text-center">Tentang KG</h2>
            <p class="static__paragraph static__paragraph--white text-center">Bersama seluruh komponen bangsa, Kompas
                Gramedia terus bergerak dinamis untuk
                mencerahkan masyarakat melalui lebih dari 400 jaringan usaha di seluruh
                Indonesia dan Asia Tenggara</p>
        </div>
    </div>
</div>