<div class="card card--inner">
    <ul class="card__list">
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
        <li class="card__item">
            <a href="read.html" class="card__link">
                <div class="card__img"><img src="asset/img/ruang-media.jpg" alt="ruang-media.jpg"></div>
                <p class="card__date">6/2/2020</p>
                <p class="card__title">Ut perspiciatis unde omnis
                    istenatus error sit</p>
            </a>
        </li>
    </ul>
</div>
