<div class="brand__filter">
    <div id="Filter1" class="brand__filter--content">
        <div class="brand__filter--srcInput">
            <input type="text" class="brand__filter--input" id="filterInput" onkeyup="myFunction()" placeholder="Search Brand" onfocus="showNav();" onblur="hideNav();"><span class="icon icon-search"></span>
        </div>
        <ul id="BrandFilterList">
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Kompas</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Kontan</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Kontan Id</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Kontan Tabloid</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Kompas.com</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Donal</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Jip</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Kompasiana</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Kompas Karier</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Kompas TV</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">KTV</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Press Release</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Bobo</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Mombi</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Idea</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Infokompuer</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Intisari</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">National Geographic</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Sedap Pemuda</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Sedap</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Nova</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Otomotif</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Saji</a>
                            </li>
                            <li>
                                <a href="#" class="open-popup" data-popup="kompas">Fotokita</a>
                            </li>
                        </ul>
    </div>
</div>