<div class="businessGate" id="business">
    <div class="container clearfix businessGate__wrapper">
        <div class="businessGate__content static__content">
            <h2 class="static__title text-center">Bisnis KG</h2>
        </div>
        <ul class="businessGate__list">
            <li class="businessGate__item">
                <a href="media.html" class="businessGate__link">
                    <div class="businessGate__thumb">
                        <img class="businessGate__img lozad" data-src="asset/img/business/media.jpg" alt="business media">
                    </div>
                    <div class="businessGate__box">
                        <h3 class="businessGate__title">Media</h3>
                        {{!-- <p class="businessGate__lead">Perspiciatis unde omnis istenatus</p> --}}
                    </div>
                </a>
            </li>
            <li class="businessGate__item">
                <a href="retail-publishing.html" class="businessGate__link">
                    <div class="businessGate__thumb">
                        <img class="businessGate__img lozad" data-src="asset/img/business/rnp.jpg" alt="business retail and publishin">
                    </div>
                    <div class="businessGate__box">
                        <h3 class="businessGate__title">Retail & Publishing</h3>
                        {{!-- <p class="businessGate__lead">Perspiciatis unde omnis istenatus</p> --}}
                    </div>
                </a>
            </li>
            <li class="businessGate__item">
                <a href="hospitality.html" class="businessGate__link">
                    <div class="businessGate__thumb">
                        <img class="businessGate__img lozad" data-src="asset/img/business/hospitality.jpg" alt="business hospitality">
                    </div>
                    <div class="businessGate__box">
                        <h3 class="businessGate__title">Hospitality</h3>
                        {{!-- <p class="businessGate__lead">Perspiciatis unde omnis istenatus</p> --}}
                    </div>
                </a>
            </li>
            <li class="businessGate__item">
                <a href="manufacture.html" class="businessGate__link">
                    <div class="businessGate__thumb">
                        <img class="businessGate__img lozad" data-src="asset/img/business/manufacture.jpg" alt="business manufacture">
                    </div>
                    <div class="businessGate__box">
                        <h3 class="businessGate__title">Manufacture</h3>
                        {{!-- <p class="businessGate__lead">Perspiciatis unde omnis istenatus</p> --}}
                    </div>
                </a>
            </li>
            <li class="businessGate__item">
                <a href="education.html" class="businessGate__link">
                    <div class="businessGate__thumb">
                        <img class="businessGate__img lozad" data-src="asset/img/business/education.jpg" alt="business education">
                    </div>
                    <div class="businessGate__box">
                        <h3 class="businessGate__title">Education</h3>
                        {{!-- <p class="businessGate__lead">Perspiciatis unde omnis istenatus</p> --}}
                    </div>
                </a>
            </li>
            <li class="businessGate__item">
                <a href="event-venue.html" class="businessGate__link">
                    <div class="businessGate__thumb">
                        <img class="businessGate__img lozad" data-src="asset/img/business/event.jpg" alt="business event and venue">
                    </div>
                    <div class="businessGate__box">
                        <h3 class="businessGate__title">Event & Venue</h3>
                        {{!-- <p class="businessGate__lead">Perspiciatis unde omnis istenatus</p> --}}
                    </div>
                </a>
            </li>
            <li class="businessGate__item">
                <a href="property-infrastructure.html" class="businessGate__link">
                    <div class="businessGate__thumb">
                        <img class="businessGate__img lozad" data-src="asset/img/business/property.jpg" alt="business digital">
                    </div>
                    <div class="businessGate__box">
                        <h3 class="businessGate__title">Property</h3>
                        {{!-- <p class="businessGate__lead">Perspiciatis unde omnis istenatus</p> --}}
                    </div>
                </a>
            </li>
            <li class="businessGate__item">
                <a href="digital.html" class="businessGate__link">
                    <div class="businessGate__thumb">
                        <img class="businessGate__img lozad" data-src="asset/img/business/digital.jpg" alt="business property">
                    </div>
                    <div class="businessGate__box">
                        <h3 class="businessGate__title">Digital</h3>
                        {{!-- <p class="businessGate__lead">Perspiciatis unde omnis istenatus</p> --}}
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
