<!-- s:infokita item-->
<div class="card infokita">
    <ul class="card__wrapper">
        <li class="card__item">
            <a href="#" class="card__link">
                <div class="card__box lozad" data-background-image="asset/img/infokita.jpg">
                    <span class="card__overlay">unduh</span>
                </div>
                <p class="card__title">Maret 2018</p>
            </a>
        </li>
        <li class="card__item">
            <a href="#" class="card__link">
                <div class="card__box lozad" data-background-image="asset/img/infokita.jpg">
                    <span class="card__overlay">unduh</span>
                </div>
                <p class="card__title">April 2018</p>
            </a>
        </li>
        <li class="card__item">
            <a href="#" class="card__link">
                <div class="card__box lozad" data-background-image="asset/img/infokita.jpg">
                    <span class="card__overlay">unduh</span>
                </div>
                <p class="card__title">Juni 2018</p>
            </a>
        </li>
        <li class="card__item">
            <a href="#" class="card__link">
                <div class="card__box lozad" data-background-image="asset/img/infokita.jpg">
                    <span class="card__overlay">unduh</span>
                </div>
                <p class="card__title">Juli 2018</p>
            </a>
        </li>
        <li class="card__item">
            <a href="#" class="card__link">
                <div class="card__box lozad" data-background-image="asset/img/infokita.jpg">
                    <span class="card__overlay">unduh</span>
                </div>
                <p class="card__title">Maret 2018</p>
            </a>
        </li>
        <li class="card__item">
            <a href="#" class="card__link">
                <div class="card__box lozad" data-background-image="asset/img/infokita.jpg">
                    <span class="card__overlay">unduh</span>
                </div>
                <p class="card__title">April 2018</p>
            </a>
        </li>
        <li class="card__item">
            <a href="#" class="card__link">
                <div class="card__box lozad" data-background-image="asset/img/infokita.jpg">
                    <span class="card__overlay">unduh</span>
                </div>
                <p class="card__title">Juni 2018</p>
            </a>
        </li>
        <li class="card__item">
            <a href="#" class="card__link">
                <div class="card__box lozad" data-background-image="asset/img/infokita.jpg">
                    <span class="card__overlay">unduh</span>
                </div>
                <p class="card__title">Juli 2018</p>
            </a>
        </li>
    </ul>

</div>
<!-- e:infokita item-->