<div class="csrGate" id="csr">
    <div class="container clearfix csrGate__wrapper">
        <div class="csrGate__content static__content">
            <h2 class="static__title text-center">Kontribusi Sosial</h2>
        </div>
        <div class="csrGate__logo">
            <img src="asset/img/csr/csr-logo.png" alt="csr-logo.png">
        </div>
        <h2 class="csrGate__tagline">Menciptakan Keselarasan Hidup Melalui Pembangunan Berkelanjutan <br> di Tengah
            Masyarakat</h2>
        <ul class="csrGate__list">
            <!--s:csr tabs filter-->
            <li class="csrGate__item">
                <a href="csr.html#inspirasi-pendidikan" class="csrGate__link">
                    <img src="asset/img/csr/csr-nav-1.png" alt="inpirasi-pendidikan">
                </a>
            </li>
            <li class="csrGate__item">
                <a href="csr.html#inspirasi-budaya" class="csrGate__link">
                    <img src="asset/img/csr/csr-nav-2.png" alt="inpirasi-budaya">
                </a>
            </li>
            <li class="csrGate__item">
                <a href="csr.html#inspirasi-lingkungan" class="csrGate__link">
                    <img src="asset/img/csr/csr-nav-3.png" alt="inpirasi-lingkungan">
                </a>
            </li>
        </ul>
    </div>
</div>