<!-- s : footer -->
<footer class="ftr_des mt0">
    <div class="container footer clearfix-no">
       <p class="footer__copyright">Copyright 2018 - 2020. Kompas Gramedia. All rights reserved.</p>
       <div class="footer__share">
           <span>Share: </span>
           <a href="" class="footer__link"><span class="icon-facebook"></span></a>
           <a href="" class="footer__link"><span class="icon-instagram"></span></a>
           <a href="" class="footer__link"><span class="icon-twitter"></span></a>
       </div>
    </div>
    <div class="container footer clearfix-no">
       <div class="footer__menu">
           <a href="sitemap.html" class="footer__link footer__pd"><p class="footer__item">Site map</p></a>
           <a href="term.html" class="footer__link footer__pd"><p class="footer__item">Term Of Use</p></a>
           <a href="privacy.html" class="footer__link footer__pd"><p class="footer__item">Privacy Policy</p></a>
       </div>
    </div>
</footer>
<!-- e : footer -->