<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{#each menu}} {{#eq title compare=../page}} {{head}} {{/eq}}  {{#if submenu}}{{#each submenu}} {{#eq title compare=../../page}} {{head}} {{/eq}} {{/each}} {{/if}} {{/each}}
    </title>
    <link rel="shortcut icon" href="asset/img/kg-icon.png" type="image/x-icon">
    <link rel="icon" href="asset/img/kg-icon.png" type="image/x-icon">
    <meta http-equiv="Expires" content="30">
    <meta content="text/html; charset=UTF-8" name="Content-Type">
    <meta name="google" content="notranslate">
    <meta name="description" content="Kompas Gramedia, perusahaan media di Indonesia yang hadir sejak 1963 dengan berbagai produk berbasis informasi dan pengetahuan. Kompas Gramedia menemani perjalanan hidup manusia Indonesia dengan koran, tabloid, majalah, buku, radio, televisi, online media, lembaga pendidikan, tissue, dan hotel.">

    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Kompas Gramedia, perusahaan media di Indonesia yang hadir sejak 1963 dengan berbagai produk berbasis informasi dan pengetahuan. Kompas Gramedia menemani perjalanan hidup manusia Indonesia dengan koran, tabloid, majalah, buku, radio, televisi, online media, lembaga pendidikan, tissue, dan hotel.">
    <meta name="keywords" content="enlightening people,kompas,kompas gramedia,kompasgramedia,kompas group,perusahaan media indonesia,perusahaan media terbesar,koran kompas,perusahaan media terbesar di indonesia,enlightening people,largest media company,kompas media">
    <meta name="googlebot-news" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="author" content="Kompas Cyber Media">
    <meta name="robots" content="index, follow" />
    <meta name="language" content="id" />
    <meta name="geo.country" content="id" />
    <meta http-equiv="content-language" content="In-Id" />
    <meta name="geo.placename" content="Indonesia" />

    <!-- S:fb meta -->
    <meta property="og:type" content="article" />
    <meta property="og:image" content="asset/img/share.jpg" />
    <meta property="og:title" content="Kompas Gramedia | Indonesia&#x27;s Media Company" />
    <meta property="og:description" content="Kompas Gramedia, perusahaan media di Indonesia yang hadir sejak 1963 dengan berbagai produk berbasis informasi dan pengetahuan. Kompas Gramedia menemani perjalanan hidup manusia Indonesia dengan koran, tabloid, majalah, buku, radio, televisi, online media, lembaga pendidikan, tissue, dan hotel.">
    <meta property="og:url" content="https://www.kompasgramedia.com/" />
    <meta property="og:site_name" content="KOMPAS.com" />
    <meta property="fb:admins" content="1386097730" />
    <meta property="fb:app_id" content="161133340609176" />
    <meta property="fb:pages" content="17353926534" />
    <!-- e:fb meta -->

    <!-- S:tweeter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kompasgramedia" />
    <meta name="twitter:creator" content="@kompasgramedia">
    <meta name="twitter:title" content="Kompas Gramedia | Indonesia&#x27;s Media Company" />
    <meta name="twitter:description" content="Kompas Gramedia, perusahaan media di Indonesia yang hadir sejak 1963 dengan berbagai produk berbasis informasi dan pengetahuan. Kompas Gramedia menemani perjalanan hidup manusia Indonesia dengan koran, tabloid, majalah, buku, radio, televisi, online media, lembaga pendidikan, tissue, dan hotel." />
    <meta name="twitter:image" content="asset/img/share.jpg" />
    <!-- E:tweeter card -->


    <link href="asset/css/style.min.css" rel="stylesheet">
</head>
