<!-- s : header -->
<header class="header">
    <div class="container header__wrapper">
        <div class="header__item header__item--left">
            <a href="index.html" class="hdr__logo__link">
                <img src="asset/img/kg-icon.png" alt="kg-icon.png" class="hdr__logo">
            </a>
        </div>
        <div class="header__trigger">
            <input type="checkbox" id="overlay-input" />
            <label for="overlay-input" id="overlay-button"><span></span></label>
        </div>
        <div class="header__item header__item--right menu" style="transform: translate3d(1000px, 0, 0);">
            <ul class="menu__list">
                <li class="menu__list__parent active">
                    <a href="#tagline">Beranda</a>
                </li>
                <li class="menu__list__parent">
                    <a href="#about">Tentang KG</a>
                    <ul class="menu__sub">
                        <li class="menu__child">
                            <a href="ceo-message.html">Pesan CEO</a>
                        </li>
                        <li class="menu__child">
                            <a href="vision-mission.html">Visi dan Misi</a>
                        </li>
                        <li class="menu__child">
                            <a href="management.html">Pimpinan KG</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list__parent">
                    <a href="brand.html">Brand</a>
                </li>
                <li class="menu__list__parent">
                    <a href="#business">Bisnis</a>
                    <ul class="menu__sub">
                        <li class="menu__child">
                            <a href="media.html">Media</a>
                        </li>
                        <li class="menu__child">
                            <a href="retail-publishing.html">Retail &amp; Publishing</a>
                        </li>
                        <li class="menu__child">
                            <a href="hospitality.html">Hospitality</a>
                        </li>
                        <li class="menu__child">
                            <a href="manufacture.html">Manufacture</a>
                        </li>
                        <li class="menu__child">
                            <a href="education.html">Education</a>
                        </li>
                        <li class="menu__child">
                            <a href="event-venue.html">Event &amp; Venue</a>
                        </li>
                        <li class="menu__child">
                            <a href="property-infrastructure.html">Property &amp; Infrastructure</a>
                        </li>
                        <li class="menu__child">
                            <a href="digital.html">Digital</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list__parent">
                    <a href="#csr">Kontribusi Sosial</a>
                    <ul class="menu__sub">
                        <li class="menu__child">
                            <a href="csr.html">Kontribusi Sosial</a>
                        </li>
                        <li class="menu__child">
                            <a href="csr-danakemanusiaan.html">Dana Kemanusiaan Kompas</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list__parent">
                    <a href="#news">Ruang Media</a>
                    <ul class="menu__sub">
                        <li class="menu__child">
                            <a href="news.html">Berita</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list__parent">
                    <a href="#karir">Karir</a>
                    <ul class="menu__sub">
                        <li class="menu__child">
                            <a href="career.html">Grow With KG</a>
                        </li>
                        <li class="menu__child">
                            <a href="community.html">Komunitas Karyawan</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list__parent">
                    <a href="#contact">Hubungi Kami</a>
                </li>
            </ul>
            <ul class="language__list">
                <li class="language__item"><a href="#">IND</a></li>
                <li class="language__item"><a href="#">ENG</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="js-nav-offset"></div>
<!-- e : header -->