<div class="career" id="karir">
    <div class="container clearfix career__wrapper">
        <div class="career__content static__content">
            <h2 class="static__title static__title--lblue">Karir</h2>
            <p class="static__lead">Apakah kamu yang kami cari?</p>
            <p class="static__paragraph">Lebih dari 22.000+ putra putri terbaik Indonesia telah bergabung dalam keluarga besar Kompas Gramedia.</p>
        </div>
    </div>
    <img src="asset/img/career-ornament.png" alt="career-ornament.png" class="career__ornament">
</div>