<div class="page__overlay">
    <span class="page__overlay--close">X</span>
    <div class="page__overlay--slider">
        <li><img src="asset/img/overlay/ovr-1.jpg"></li>
        <li><img src="asset/img/overlay/ovr-2.jpg"></li>
        <li><img src="asset/img/overlay/ovr-3.jpg"></li>
    </div>
</div>