{{>page-overlay}}
<div class="tagline" id="tagline">
    <ul class="tagline__list clearfix" id="tagline-slider">
        <li class="tagline__item clearfix" style="background-image: url(asset/img/tagline/tagline-1.jpg)">
            <div class="tagline__text">
                <h2 class="tagline__text--big">Berkarya</h2>
                <h2 class="tagline__text--small">Mencerahkan insan Nusantara melalui lebih dari 200 unit usaha yang
                    tersebar di seluruh penjuru Indonesia dan Asia</h2>
            </div>
        </li>
        <li class="tagline__item clearfix" style="background-image: url(asset/img/tagline/tagline-2.jpg)">

            <div class="tagline__text">
                <h2 class="tagline__text--big">56 Tahun Kolaborasi</h2>
                <h2 class="tagline__text--small">Mencerahkan insan Nusantara melalui lebih dari 200 unit usaha yang
                    tersebar di seluruh penjuru Indonesia dan Asia</h2>
            </div>
        </li>
        <li class="tagline__item clearfix" style="background-image: url(asset/img/tagline/tagline-3.jpg)">
            <div class="tagline__text">
                <h2 class="tagline__text--big">Integritas</h2>
                <h2 class="tagline__text--small">Mencerahkan insan Nusantara melalui lebih dari 200 unit usaha yang
                    tersebar di seluruh penjuru Indonesia dan Asia</h2>
            </div>
        </li>
        <li class="tagline__item clearfix" style="background-image: url(asset/img/tagline/tagline-1.jpg)">
            <div class="tagline__text">
                <h2 class="tagline__text--big">Berkarya</h2>
                <h2 class="tagline__text--small">Mencerahkan insan Nusantara melalui lebih dari 200 unit usaha yang
                    tersebar di seluruh penjuru Indonesia dan Asia</h2>
            </div>
        </li>
        <li class="tagline__item clearfix" style="background-image: url(asset/img/tagline/tagline-2.jpg)">

            <div class="tagline__text">
                <h2 class="tagline__text--big">56 Tahun Kolaborasi</h2>
                <h2 class="tagline__text--small">Mencerahkan insan Nusantara melalui lebih dari 200 unit usaha yang
                    tersebar di seluruh penjuru Indonesia dan Asia</h2>
            </div>
        </li>
        <li class="tagline__item clearfix" style="background-image: url(asset/img/tagline/tagline-3.jpg)">
            <div class="tagline__text">
                <h2 class="tagline__text--big">Integritas</h2>
                <h2 class="tagline__text--small">Mencerahkan insan Nusantara melalui lebih dari 200 unit usaha yang
                    tersebar di seluruh penjuru Indonesia dan Asia</h2>
            </div>
        </li>
    </ul>
</div>